| {% if is_processing %}
.media-embed-video-placeholder
  p Video processing...
| {% else %}
video.media-embed-video(controls, loop)
  source(src='{{ media.video.url_720p }}', type='video/mp4')
| {% endif %}
