| {% extends 'layout.html' %}

| {% block og %}
meta(property="og:type", content="website")
meta(property="og:title", content="{{title}} - {{ config.SETTINGS_TITLE | safe}}")
meta(property="og:url", content="{{url_for('index')}}{{url}}")
meta(property="og:image", content="{{ url_for('static', filename='images/favicon_192x192.png') }}")
| {% endblock %}

| {% block page_title %} {{title}} - {% endblock%}

| {% block body %}

.row
	.col-md-9
		.page-view
			h2 {{title}}
			.page-view-container
				.page-view-content
					| {{content|safe}}

	.col-md-3
		| {% include '_sidebar.html' %}

| {% endblock %}
