.DS_Store
.project
*.pyc
*.sublime*
.idea/*
config.py

dillo/application/templates/**/*
dillo/application/themes/dillo/static/font/*
dillo/application/themes/dillo/static/css/*
dillo/application/themes/dillo/static/js/*
dillo/application/themes/dillo/templates/*
dillo/application/static/storage/
node_modules
.sass-cache/
*.css.map
*.js.map

*.rdb

docker/dillo.env

