.DS_Store
.project
.coverage
.cache/*
*.pyc
*.sublime*
.idea/*
config_local.py

dillo/static/css/*
dillo/templates/*
dillo/static/js/generated/*.min.js
docker/4_run/deploy/*

node_modules
.sass-cache/
*.css.map
*.js.map

/build
/.cache
/*.egg-info/
/.eggs/
/dump/
/google_app*.json
/docker/2_buildpy/python/
/docker/4_run/wheelhouse/

translations/*/LC_MESSAGES/*.mo
