| {% extends 'users/settings/page.html' %}
| {% block settings_page_title %}{{ _("Profile") }}{% endblock %}
| {% block settings_page_content %}
form#settings-form(
	method='POST',
	action="{{url_for('settings.profile')}}")
	// - TODO(fsiddi) In this form CSRF token is required, although the original
		UserProfileForm does not require it.
	input(type="hidden", name="csrf_token", value="{{ csrf_token() }}")
	.settings-form
		.left
			.fieldset-container
				.fieldset-row
					.fieldset-field
						|
						| {{ form.username.label }}
						| {{ form.username(size=20) }}
						| {% if form.username.errors %}
						| {% for error in form.username.errors %}
						.fieldset-row-error {{ error|e }}
						| {% endfor %}
						| {% endif %}

				.fieldset-row
					.fieldset-field
						| {{ form.full_name.label }}
						| {{ form.full_name }}
						| {% if form.full_name.errors %}
						| {% for error in form.full_name.errors %}
						.fieldset-row-error {{ error|e }}
						| {% endfor %}
						| {% endif %}

				.fieldset-row
					.fieldset-field
						| {{ form.email.label }}
						| {{ form.email }}
						| {% if form.email.errors %}
						| {% for error in form.email.errors %}
						.fieldset-row-error {{ error|e }}
						| {% endfor %}
						| {% endif %}

				.fieldset
					| Change your profile details at #[a(href="https://www.blender.org/id/settings/profile") Blender ID].

		.right
			.settings-avatar
				a(href="https://gravatar.com/")
					img(src="{{ current_user.gravatar }}")
					span {{ _("Change Gravatar") }}

	button.btn.btn-info(type='submit')
		i.pi-check
		| {{ _("Save Changes") }}
| {% endblock %}
