| {% extends 'layout.html' %}
| {% block page_title %}About{% endblock %}
| {% block body %}
#page-container
	#page-content
		.row-fluid
			.col-md-8.mx-auto
				.p-5
					h2 About

					.lead
						p.
							Blender.Community is an independent community aggregator.

						p.
							Built by #[a(href="https://twitter.com/fsiddi") Francesco Siddi]
							and #[a(href="https://twitter.com/pablovazquez_") Pablo Vazquez] as the one-stop place
							for Blender users from diverse communities to hangout.

					hr

					h2 FAQ

					h4.pt-2 How do I write posts?
					p.
						We use CommonMark for styling posts and comments. Here's a #[a(href="http://commonmark.org/help/") handy guide] on how to use it.
						On comments, you can drag and drop an image or file on the text field and it will automagically show up.

					h4.pt-3 Found a bug?
					p.
						blender.community runs on open source software, please #[a(href="https://github.com/armadillica/dillo/issues") report any issues] you find here.
						Are you a web dev? Contribute to make blender.community better!

					h4.pt-3 Can I create a new Community?
					p.
						Sure! We welcome international users or specialized Blender groups. #[a(href="mailto:contact@blender.community") Drop us a line]
						and tell us why your community belongs here.

					h4.pt-3 Is this site moderated?
					p.
						Yes and no. Every post and comment can be appreciated by the community. This gives the power to every user to
						support good content and dismiss bad ones (like Reddit, for example).
						There are also community owners and admins that can perform moderation of posts and users if the system is abused.
					p.
						blender.community is made with love for diversity and openness. Just be nice to each other, please.

					hr

					p Latest update: June 26, 2019
| {% endblock body%}
