| {% extends 'dillo/layout.html' %}
| {% block bodyattrs %}{{ super() }} data-context='posts-index'{% endblock %}
| {% block page_title %}Dashboard{% endblock %}

| {% block body %}

#col_main.listing-list
	#list-hits

#col_right.listing-view
	#list-item
		.welcome
			h2 Welcome to Dillo

			.d-activity
				| {% if activities['_meta']['total'] %}
				ul
					| {% for act in activities['_items'] %}
					li
						img.actor-avatar(src="{{ act['actor_user']['email'] | gravatar }}")
						span.date(title="{{ act._created }}") {{ act._created | pretty_date_time }}
						span.actor {{ act['actor_user']['full_name'] }}
						span.verb {{ act.verb }}
					| {% endfor %}
				| {% endif %}


|{% endblock body %}

| {% block footer_scripts %}
script(src='https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js')
script.
	var search = instantsearch({
		appId: '{{ config.ALGOLIA_USER }}',
		apiKey: '{{ config.ALGOLIA_PUBLIC_KEY }}',
		indexName: '{{ config.ALGOLIA_INDEX_NODES }}',
		urlSync: {}
	});

	search.addWidget(
		instantsearch.widgets.searchBox({
			container: '#q'
		})
	);


	{% raw %}
	var _hitTemplate =
		'<div class="hit media">' +
		'<div class="media-left">' +
		'<div class="media-object" style="background-image: url(\'{{picture}}\');"></div>' +
		'</div>' +
		'<div class="media-body">' +
		'<h4 class="media-heading">{{{_highlightResult.name.value}}} {{#stars}}<span class="ais-star-rating--star{{^.}}__empty{{/.}}"></span>{{/stars}}</h4>' +
		'<p class="year">{{year}}</p><p class="genre">{{#genre}}<span class="badge">{{.}}</span> {{/genre}}</p>' +
		'</div>' +
		'</div>';

	var hitTemplate =
		'<ul class="list-hits">' +
			'<li class="list-hits-item js-item-show" data-id="{{ objectID }}">' +
				'<a href="" class="item-thumbnail">' +
					'{{#picture}}<img src="{{picture}}"/>{{/picture}}{{^picture}}<i class="pi-happy"></i>{{/picture}}' +
				'</a>' +
				'<div class="item-content">' +
					'<div class="item-rating-box {{#is_positive}} rated {{is_positive}} {{/is_positive}}">' +
						'<div class="item-rating up">' +
							'<i class="pi-angle-up"></i>' +
						'</div>' +
						'<div class="item-rating value">' +
							'{{ rating }}' +
						'</div>' +
						'<div class="item-rating down">' +
							'<i class="pi-angle-down"></i>' +
						'</div>' +
					'</div>' +
					'<div class="item-details">' +
						'<a href="" class="item-title">{{{ name }}}</a>' +
						'<ul>' +
							'<li>' +
								'<a href="{{ link_url }}">' +
								'{{#is_link}}<img title="Link" src="http://www.google.com/s2/favicons?domain={{ link_url }}"/>{{/is_link}}' +
								'{{^is_link}}<i class="pi-document-text"></i>{{/is_link}}' +
								'</a>' +
							'</li>' +
							'<li><a href="">Tutorials</a></li>' +
							'<li><a href="">{{ created }}</a></li>' +
							'<li>{{ user.full_name }}</li>' +
							'<li><a href="{{ link_url }}">2 comments</a></li>' +
							'{{#is_link}}<li>{{ link_short }}</li>{{/is_link}}' +
						'</ul>' +
					'</div>' +
				'</div>' +
			'</li>' +
		'</ul>';


	var noResultsTemplate =
		'<div class="text-center">No results found matching <strong>{{query}}</strong>.</div>';
	{% endraw %}


	function processHit(hit) {
		hit.is_positive = localStorage.getItem(hit.objectID);

		if (hit.is_positive && hit.is_positive === 'true') {
			hit.is_positive = 'positive';
		} else if (hit.is_positive && hit.is_positive === 'false') {
			hit.is_positive = 'negative';
		}

		hit.created = moment.unix(hit.created).fromNow();
		hit.name = twemoji.parse(hit.name);
		hit.link_url = hit.description;

		if (hit.description) {
			hit.link_short = shortenUrl(hit.description);
		}
		return hit;
	}


	search.addWidget(
		instantsearch.widgets.hits({
			container: '#list-hits',
			hitsPerPage: 10,
			templates: {
				empty: noResultsTemplate,
				item: hitTemplate
			},
			transformData: processHit,
		})
	);

	search.start();

	$('body').on('click', '.js-item-show', function(e){
		e.preventDefault();

		var li = $(this).closest('.list-hits-item');
		var hit_id = li.attr('data-id');

		/* Unstyle all items on the list and style only the current one */
		$('.list-hits-item').removeClass('active');
		li.addClass('active');

		item_open(hit_id);
	});

| {% endblock footer_scripts %}
