| {% macro communities_list(communities) %}
ul
	| {% for community in communities %}
	li
		a.d-communities-item(
			href="{{ url_for('posts.index', community_url=community.url) }}",
			title="{{ community.name }}")
			| {% if community.picture_square %}
			.d-header-logo
				img(src="{{ community.picture_square.thumbnail('l') }}")
			| {% else %}
			.d-header-logo.no-logo
				i.pi-grin
			| {% endif %}

			.d-communities-info
				span.title {{ community.name }}
				span.summary {{ _( community.summary ) }}
	| {% endfor %}

	li.d-communities-suggest
		a.d-communities-item(
			href="mailto:contact@blender.community",
			title="{{ _('Build Your Own Community') }}")
			.d-communities-info
				span.title {{ _('Build Your Own Community') }}
				span.summary.
					{{ _('We welcome international users or specialized Blender groups.Tell us why your community belongs here.') }}
| {% endmacro %}
