| {% extends "dillo/base.pug" %}
| {% load i18n %}
| {% load crispy_forms_tags %}

//- TODO: Fill OpenGraph data
| {% block opengraph %}
| {% endblock opengraph %}

| {% block content %}

.container
	.row.py-4
		.col-md-8.mx-auto
			h1 Update a {{ object.title }}
			form(method="post", enctype="multipart/form-data")
				| {% csrf_token %}
				| {{ form | crispy }}
				input.btn.btn-primary.btn-block.my-4(type="submit" value="Update")

| {% endblock content %}
