| {% extends "dillo/base.pug" %}
| {% load i18n %}
| {% load dillo_filters %}
| {% load thumbnail %}

//- | {% block page_title %}{{ job.title }} &mdash; {% trans 'Job post on' %} {% endblock page_title %}

| {% block head_extra %}
style.
  :root {
    --community-theme-color: {{ community.theme_color }};
  }
| {% endblock head_extra %}

| {% block content-header %}
header.app-main-header
  .header-title
    | {{ community.name }}

  .header-action-bar
    .form-group
      input.form-control(placeholder="Search...")

    .btn.btn-primary
      span Upload Build
| {% endblock content-header %}

| {% block content %}
.app-main-content
  .app-feed
    ul.posts-list
      | {% for i in "x"|rjust:"10"|make_list %}
      li
        .post-list-item(
          class="{% if forloop.counter|divisibleby:3 %}is-hot{% endif %} {% if forloop.counter == 3 %}is-active{% endif %}")
          .post-list-item-thumbnail
          .post-list-item-content
            .post-list-item-header
              ul
                li Windows,
                li Experimental

            .post-list-item-title
              | Dit is post {{ forloop.counter }}
            .post-list-item-meta
              ul
                li.item-points
                  | 14
                  | {% if forloop.counter|divisibleby:3 %}
                  i.i-fire(title='Hot Stuff')
                  | {% else %}
                  i.i-heart(title='Likes')
                  | {% endif %}
                li
                  a(href='POST-URL-WITH-COMMENTS-ANCHOR')
                    | {% if forloop.counter|divisibleby:3 %}
                    | 12
                    i.i-comment
                    | {% else %}
                    | comment
                    | {% endif %}
                li.item-date.js-item-open
                  a(
                    href='POST-URL',
                    title='Updated Wed, 30 Dec 2020 21:49:35 GMT')
                    span 5h ago


      | {% endfor %}

  .app-detail
    .card
      .card-body
        | {{ communities }}
        hr

        | {% include 'dillo/communities/_community_avatar.pug' with community=community size='large' %}

        h1 {{ community.name }}
        h3 {{ community.tagline }}

        hr

        .btn.btn-primary
          span Follow

        hr

        h5 Categories
        ul
          | {% for category in community.categories.all %}
          li {{ category.name }} - {{ category.slug }}
          | {% endfor %}

        hr

        h5 Social
        ul
          | {% for social in community.links.all %}
          li {{ social.url }}
          | {% endfor %}

        hr

        p {{ community.description | markdown | safe | urlize }}
| {% endblock content %}
