{% extends 'admin/base.html' %}
{% block brand %}<span class="brand"><a href="{{url_for('index')}}">{{ admin_view.admin.name }}</a></span>{% endblock %}
{% block access_control %}
{% if current_user.is_authenticated() %}<div class="btn-group pull-right"><a data-toggle="dropdown" href="#" class="btn dropdown-toggle"><i class="icon-user"></i>{{ current_user.login }}<span class="caret"></span></a><ul class="dropdown-menu"><li><a href="{{ url_for('admin.logout_view') }}">Log out</a></li></ul></div>{% endif %}
{% endblock %}