| {% extends "account/base.pug" %}
| {% load i18n %}
| {% block head_title %}{% trans "Account Inactive" %}{% endblock %}
| {% block content %}
h1 {% trans "Account Inactive" %}
p {% trans "This account is inactive." %}
| {% endblock %}
