| {% extends "dillo/base_single_card.pug" %}
| {% load i18n %}
| {% load socialaccount %}
| {% load crispy_forms_tags %}

| {% block page_title %}{% trans "Sign In" %} &mdash; {% endblock %}

| {% block columns_width %}col-md-5{% endblock %}

| {% block content_card %}
.card.account.login
	.card-header
		h1.card-title {% trans "Welcome back!" %}

	.card-body
		| {% get_providers as socialaccount_providers %}
		| {% if socialaccount_providers %}
		.social
			ul.social-providers
				| {% include "socialaccount/snippets/provider_list.pug" with process="login" %}
		| {% include "socialaccount/snippets/login_extra.html" %}
		| {% endif %}

		.account-divider
			span {% trans "OR" %}

		form(method='POST', action="{% url 'account_login' %}")
			| {% csrf_token %}
			| {{ form | crispy }}

			| {% if redirect_field_value %}
			input(type='hidden', name='{{ redirect_field_name }}', value='{{ redirect_field_value }}')
			| {% endif %}


			.card-cta
				button.btn-accent.btn-wide(type='submit')
					span {% trans "Sign In" %}

	.card-footer
		.btn-toolbar-row
			a.btn.btn-primary(href='{{ signup_url }}')
				span {% trans "Create a New Account" %}

			a.btn.btn-link(href="{% url 'account_reset_password' %}")
				span {% trans "Forgotten Password?" %}

| {% endblock content_card %}
