| {% extends "dillo/base_single_card.pug" %}
| {% load i18n %}
| {% load account %}
| {% load crispy_forms_tags %}

| {% block page_title %}{% trans "Password Reset" %}  &mdash; {% endblock %}

| {% block content_card %}
form.card.account(method='POST', action="{% url 'account_reset_password' %}")
	.card-header
		h1.card-title {% trans "Forgotten your password?" %}

	.card-body.px-5
		| {% if user.is_authenticated %}
		.text-warning.text-center
			{% include "account/snippets/already_logged_in.html" %}
		| {% endif %}

		p.lead.text-center
			| {% trans "Enter your e-mail and we'll write you how to reset it." %}
			| {% csrf_token %}
			| {{ form | crispy  }}

	.card-cta
		input.btn.btn-primary(type='submit', value="{% trans 'Reset My Password' %}")

	.card-footer.text-secondary.text-center
		| {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
| {% endblock %}
