| {% extends "dillo/base_single_card.pug" %}
| {% load i18n %}
| {% load account %}
| {% load crispy_forms_tags %}

| {% block page_title %}{% trans "Password Reset" %}  &mdash; {% endblock %}

| {% block content_card %}
form.card.account(method='POST', action="{% url 'account_reset_password' %}")
	.card-header
		h1.card-title {% trans "Forgotten your password?" %}

	.card-body
		| {% if user.is_authenticated %}
		p {% include "account/snippets/already_logged_in.html" %}
		| {% endif %}

		p
			| {% trans "Enter your e-mail and we'll write you how to reset it." %}
			| {% csrf_token %}
			| {{ form | crispy  }}

	.card-cta
		button.btn.btn-primary(type='submit')
			span {% trans 'Reset My Password' %}

	.card-footer
		| {% blocktrans %}#[a(href="/about") Contact us] &nbsp;if you have any trouble resetting your password.{% endblocktrans %}
| {% endblock %}
