| {% extends "dillo/base_single_card.pug" %}
| {% load i18n %}

| {% block page_title %}{% trans "Change Password" %}{% endblock %}

| {% block content_card %}
.card
	.card-header
		h1 {% trans "Change Password" %}
	.card-body
		p
			| {% trans 'Your password is now changed.' %}
| {% endblock %}
