| {% extends "dillo/base_single_card.pug" %}
| {% load i18n %}
| {% load account %}

| {% block page_title %}{% trans "Password Reset" %}{% endblock %}

| {% block content_card %}
.card
	.card-header
		h1 {% trans "Password Reset" %}
	.card-body
		| {% if user.is_authenticated %}
		| {% include "account/snippets/already_logged_in.html" %}
		| {% endif %}
		p
			| {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
| {% endblock %}
