| {% extends "dillo/account_edit_base.pug" %}
| {% load i18n %}
| {% load crispy_forms_tags %}

| {% block head_title %}{% trans "Change Password" %}{% endblock %}
| {% block content_account_edit_form %}
.card-header
	h1 {% trans "Change Password" %}
.card-body
	form.password_change(method='POST', action="{% url 'account_change_password' %}")
		| {% csrf_token %}
		| {{ form | crispy }}
		input.btn.btn-primary(type='submit', name='action', value='{% trans "Change Password" %}') {% trans "Change Password" %}
| {% endblock %}
