<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 - Blender Today - Community-driven Blender News</title>
    <meta name="keywords" content="news, community, blender, animation, 3d" />
    <meta name="description" content="Community-driven Blender News"/>
    <meta name="author" content="Blender Today"/>
    <meta name="theme-color" content="#0092A0">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {% if config.USE_ASSETS_CDN %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
    {% else %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/favicon_192x192.png') }}">

  </head>

  <body class="error-404">
		<img src="{{ url_for('static', filename='images/today_404_andy.jpg') }}"/>
		<h2>404 - This page doesn't exist</h2>
		<div class="error-goback">
			<a href="http://blender.today"><i class="fa fa-angle-left"></i> back to blender.today</a>
		</div>
  </body>
  </html>