.item-media
	i.pi-play

.item-content(
	id="{{ node._id }}",
	data-node-id="{{ node._id }}")
	.item-rating-box(
		class="{% if node._current_user_rating is not none %}rated{% if node._current_user_rating %} positive{% else %} negative{% endif %}{% endif %}"
	)
		.item-rating.up
			i.pi-angle-up
		.item-rating.value {{ node.properties.rating_positive - node.properties.rating_negative }}
		.item-rating.down
			i.pi-angle-down
	.item-details
		a#item-title.item-title(href="") {{ node.name }}
		ul
			li {{ node.category }}
			li
				// XXX - Use nicer URL
				a(href="{{ url_for('nodes.view', node_id=node._id) }}") {{ node._created | pretty_date }}
			li koro
			li
				a(href="") 2 comments

			| {% if node.properties.post_type == 'link' %}
			li {{ node.description }}
			| {% endif %}

| {% if node.properties.post_type == 'text' %}
.item-body.
	{{ node.description }}
| {% endif %}

#item-comments
	#comments-embed

script.
	loadComments("{{ url_for('nodes.comments_for_node', node_id=node['_id']) }}");


	$('#item-title').html(
		twemoji.parse('{{ node.name }}')
	);
