#item-media.item-media
	| {% if node.properties.post_type == 'link' and node.properties.content_html %}
	| {{ node.properties.content_html | safe }}
	| {% else %}
	| {% if node.picture %}
	img(src="{{ node.picture.thumbnail('l', api=api) }}")
	| {% endif %}
	| {% endif %}

.item-content(
	id="{{ node._id }}",
	data-node-id="{{ node._id }}")
	.item-rating-box(
		class="{% if node._current_user_rating is not none %}rated{% if node._current_user_rating %} positive{% else %} negative{% endif %}{% endif %}"
	)
		.item-rating.up
			i.pi-angle-up
		.item-rating.value {{ node.properties.rating_positive - node.properties.rating_negative }}
		.item-rating.down
			i.pi-angle-down
	.item-details
		a#item-title.item-title(href="") {{ node.name }}
		ul
			li#item-post_type {{ node.properties.post_type | undertitle }}
			li#item-category {{ node.properties.category | undertitle }}
			li {{ node._created | pretty_date }}
			li {{ node.user.full_name }}

			| {% if current_user.is_authenticated and (node.user._id == current_user.objectid) %}
			li
				a(href="{{ url_for('nodes.edit', node_id=node['_id']) }}") edit post
			| {% endif %}

			| {% if node.properties.post_type == 'link' %}
			li
				a#item-link-url(href="{{ node.properties.content }}") {{ node.properties.content }}
			| {% endif %}


| {% if node.properties.post_type == 'text' %}
.item-body#item-content
	| {{ node.properties.content_html | safe }}
| {% endif %}

#item-comments
	#comments-embed

script.
	var body = document.getElementsByTagName("body")[0];
	var context = body.getAttribute('data-context');

	if (context != 'post-edit'){
		loadComments("{{ url_for('nodes.comments_for_node', node_id=node._id) }}");
	}

	if (context == 'posts-index'){
		var onRenderHandler = function() {
			// Set item on the list as active
			var item = '#item-{{ node._id }}';
			$(item).addClass('active');
		}

		search.on('render', onRenderHandler);
	}

	// Parse emojis
	$('#item-title').html(twemoji.parse('{{ node.name }}'));

	var item_content = $('#item-content');
	item_content.html(twemoji.parse(item_content.text()));

	{% if node.properties.post_type == 'link' %}
		$('#item-link-url').text(shortenUrl('{{ node.properties.content }}'));
	{% endif %}
