.item-media
	i.pi-play

.item-content(
	id="{{ node._id }}",
	data-node-id="{{ node._id }}")
	.item-rating-box(
		class="{% if node._current_user_rating is not none %}rated{% if node._current_user_rating %} positive{% else %} negative{% endif %}{% endif %}"
	)
		.item-rating.up
			i.pi-angle-up
		.item-rating.value {{ node.properties.rating_positive - node.properties.rating_negative }}
		.item-rating.down
			i.pi-angle-down
	.item-details
		a#item-title.item-title(href="") {{ node.name }}
		ul
			li {{ node.properties.category | undertitle }}
			li {{ node._created | pretty_date }}
			li {{ node.user.full_name }}

			| {% if node.properties.post_type == 'link' %}
			li
				a#item-link-url(href="{{ node.description }}") {{ node.description }}
			| {% endif %}

| {% if node.properties.post_type == 'text' %}
.item-body#item-description
	| {{ node.description | safe }}
| {% endif %}

#item-comments
	#comments-embed

script.
	loadComments("{{ url_for('nodes.comments_for_node', node_id=node['_id']) }}");

	// Markdown initialization
	var convert = new Markdown.getSanitizingConverter();
	Markdown.Extra.init(convert);
	convert = convert.makeHtml;

	// Convert Markdown and emojis for text and title
	var desc = $('#item-description').text();
	$('#item-description').html(twemoji.parse(convert(desc)));
	$('#item-title').html(twemoji.parse('{{ node.name }}'));

	{% if node.properties.post_type == 'link' %}
		$('#item-link-url').text(shortenUrl('{{ node.description }}'));
	{% endif%}
