	<div class="nav-sidebar-container">
		<div class="nav-sidebar navigation" role="navigation">
			<nav>
				<ul>
					{% if current_user.is_authenticated() %}
						<li data-dialog="submit" class="navbar-submit">
							<a>Submit</a>
						</li>
					{% else %}
						<a href="{{url_for_security('login')}}">
							<span class="navbar-submit-disabled-overlay popover-submit"
										data-toggle="popover" data-trigger="hover" data-placement="bottom"
										data-content="Sign in to Submit">
								<li data-dialog="submit" class="navbar-submit navbar-submit-disabled">
									<a href="{{url_for_security('login')}}">Submit</a>
								</li>
							</span>
						</a>
					{% endif %}

					{% if current_user.is_authenticated() %}

						<li>
								<a href="{{url_for('index')}}" id="popover-home"
									 data-toggle="popover" data-trigger="hover" data-placement="bottom"
									 data-content="Home">
									 <i class="fa fa-home"></i>
								</a>
						</li>

						<li>
								<a href="{{url_for('settings.profile')}}" id="popover-settings"
									 data-toggle="popover" data-trigger="hover" data-placement="bottom"
									 data-content="Settings" {% if title in ('settings_profile', 'settings_account') %}class="active"{% endif %}>
									 <i class="fa fa-cog"></i>
								</a>
						</li>

						<li>
								<a href="{{url_for('index')}}u/{{current_user.id}}"
									 class="nav-sidebar-avatar" style="background-image: url({{current_user.gravatar(size=32)}});" id="popover-profile"
									 data-toggle="popover" data-trigger="hover" data-placement="bottom"
									 data-content="Profile">
								</a>
						</li>

						<li class="navbar-logout">
							<a class="nav-logout-widget" href="" id="popover-logout"
								 data-toggle="popover" data-trigger="hover" data-placement="bottom"
								 data-content="Log out">
								<span class="nav-logout-widget-icon"><i class="fa fa-power-off"></i></span>
								<span class="nav-logout-widget-question">?</span>
							</a>
						</li>
					{% else %}
					<li class="navbar-login"><a href="{{url_for_security('login')}}"><i class="fa fa-sign-in"></i> Sign in</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>

		<div class="nav-sidebar branding">
			<a href="{{url_for('index')}}">
				<img class="nav-sidebar-mug" src="{{url_for('static', filename='images/today_manumug_party_136x136.png')}}"/>
			</a>
			<a href="{{url_for('index')}}"><h3>Blender<small>.</small>Today</h3></a>
			<p>
				You decide what makes the news
			</p>
		</div>

		<div class="nav-sidebar meta">
				<p>
					<a href="http://blender.today/p/community/fcbbbc/blender-today-roadmap-feedback">
						Roadmap & Feedback
					</a>
					· 
					<a href="{{url_for('posts.feed')}}">
						<i class="fa fa-rss"></i> Feed
					</a>
					{% if current_user.has_role('admin') %}
					<br/>
					<a href="{{url_for('admin.index')}}">
						<i class="fa fa-fighter-jet"></i> Whoosh!
					</a>
					{% endif %}
				</p>
		</div> <!-- nav-sidebar-meta -->
	</div>
