<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}Home{% endblock %} - Blender Today - Community-driven Blender News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Community-driven Blender News">
    <meta name="author" content="">
    
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
    {% if config.USE_ASSETS_CDN %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    {% else %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">
    {% block header %}
    {% endblock %}
  </head>

  <body>
    {% block modal %}
    {% endblock %}
    <a name="hop"></a>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-menu">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button>
          <a class="logo" href="{{url_for('index')}}">Blender Today</a>
        </div>

        <nav class="collapse navbar-collapse" id="navbar-collapse-menu">
          <ul class="nav navbar-nav navbar-right">
            <li {% if title == 'submit': %} class="active"{% endif %}>
              <a href="{{ url_for('posts.submit') }}">Submit</a>
            </li>
            <li {% if title == 'about': %} class="active"{% endif %}>
              <a href="{{ url_for('about') }}">About</a>
            </li>

            {% if current_user.is_authenticated() %}
            <li class="dropdown absolute right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{current_user.email}} <b class="caret"></b></a>
              <ul class="dropdown-menu right">

                {% if current_user.has_role('admin') %}
                <li class="text-danger">
                  <a href="{{url_for('admin.index')}}"><i class="fa fa-fighter-jet"></i> Woosh!</a>
                </li>
                {% endif %}

                <li><a href="{{url_for('settings.profile')}}"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="{{url_for('logout')}}"><i class="fa fa-power-off"></i> Log out</a></li>
              </ul>
            </li>
            {% else %}
            <li class="absolute right"><a href="{{url_for_security('login')}}"><i class="fa fa-sign-in"></i> Sign in</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <div class="container">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
      </div>
    </div>
    {% endfor %}



    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div> <!-- /container -->

    <footer>
      <div class="container">
        <span class="pull-right">
          <p>
            Blender Today
            <a href="#hop"><i class="fa fa-caret-up"></i></a>
          </p>
        </span>
      </div> <!-- /footer-container -->
    </footer>
    {% if config.USE_ASSETS_CDN %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% else %}
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    {% endif %}
  {% block footer_scripts %}{% endblock %}

  {# 
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{config.GOOGLE_ANALYTICS_TRACKING_ID}}', '{{config.GOOGLE_ANALYTICS_DOMAIN}}');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  #}
  </body>
</html>

