| {% extends "dillo/base_columns.pug" %}
| {% load i18n %}

| {% block page_title %}{{ flatpage.title }}{% endblock page_title %}

| {% block content %}
.app-main-content.container
  .row
    .col-lg-9
      .item-detail-body
        | {{ flatpage.content }}

    .col-lg-3
      | {% if request.user.is_superuser %}
      .sidebar-block
        | {% url 'admin:flatpages_flatpage_change' flatpage.id as edit_url %}
        | {% include 'dillo/components/_button_edit.pug' with url=edit_url label="Edit Page" class="btn-admin" %}
      | {% endif %}

| {% endblock content %}
