| {% extends "dillo/base_single_card.pug" %}
| {% load i18n %}
| {% load crispy_forms_tags %}

| {% block page_title %}
| {% trans 'Submit a Job' %} {% trans 'on' %}
| {% endblock page_title %}

| {% block content_card %}
form.card(method="post", enctype="multipart/form-data")
  .card-header
    h1 {% trans 'Post a Job' %}
  .card-body
    | {% csrf_token %}
    | {{ form | crispy }}

  .card-cta
    button.btn.btn-accent(type="submit")
      i.i-check
      span {% trans 'Submit Job' %}
| {% endblock content_card %}
