| {% extends "dillo/base_columns.pug" %}
| {% load i18n %}
| {% load crispy_forms_tags %}

//- TODO: Fill OpenGraph data
| {% block opengraph %}
| {% endblock opengraph %}

| {% block stream %}

.job-detail
  h3 Edit Job

  hr

  form.form-container(method="post", enctype="multipart/form-data")
    | {% csrf_token %}
    | {{ form | crispy }}

    .form-cta
      a.btn-secondary(href="{% url 'job-detail' pk=job.id %}")
        span Cancel
      button.btn.btn-primary(type="submit")
        span Save Changes

| {% endblock stream %}
