{% extends 'layout.html' %}
{% from 'settings/_macros.html' import sidebar_navigation %}

{% block body %}
<div class="row">
    <div class="col-md-9">
        <div role="tabpanel">
          {{sidebar_navigation(title)}}

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">
                <h2>Profile Settings</h2>

                <form role="form" method="POST" action="{{url_for('settings.profile')}}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label }} 
                        {{ form.email(class='form-control', placeholder='Email address') }}
                    </div>
                    <div class="form-group">
                        {{ form.first_name.label }} 
                        {{ form.first_name(class='form-control', placeholder='Your first name') }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name.label }} 
                        {{ form.last_name(class='form-control', placeholder='Your family name') }}
                    </div>
                    <div class="form-group">
                        {{ form.username.label }} 
                        {{ form.username(class='form-control', placeholder='Your nickname') }}
                    </div>
                    <input type="submit" class="btn btn-default btn-block" value="Go">
                </form>

            </div>
          </div>
        </div>
   </div> <!-- col-md -->
   <div class="col-md-3">
    {% include '_sidebar.html' %}
   </div>
</div> <!-- row -->
{% endblock %}

