::-webkit-scrollbar
  width: 5px
  height: 5px

::-webkit-scrollbar-track
  background-color: rgba($color-background-darker, .2)
  border-radius: 999em

::-webkit-scrollbar-thumb
  +community-theme('background-color')
  border-radius: 999em

a
  +community-theme('color')

hr
  width: 100%
  height: 1px
  background-color: $color-background-dark
  border: none

body
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

body[data-context='post-fullscreen']
  .d-header-background
    opacity: .33

  .comments-tree
    max-width: unset


.dialog-box
  align-self: flex-start
  background: $color-background
  border-bottom-left-radius: 3px
  border-bottom-right-radius: 3px
  box-shadow: 2px 2px 0 rgba(black, .1)
  display: flex
  flex-direction: column
  max-width: 720px
  position: relative
  top: -50%
  transition: top 500ms ease-out
  width: 100%

  // In case the form can't be loaded
  .dialog-placeholder
    align-items: center
    color: $color-text-dark-hint
    display: flex
    justify-content: center
    height: 490px
    font-size: 2em

    i.spin
      animation-duration: 5s

.dialog-box
  #col_main
    background-color: initial
    width: 100%

    .item-edit-tab
      background-color: transparent
      margin: 0

    .item-edit-bar
      padding: 10px 20px 20px

      &.top
        display: flex
        margin: 0
        padding: 17px 25px 10px

    .btn.preview
      display: none


/* Navigation */
nav
  &.nav-bar
    z-index: 9

    > ul
      > li
        margin-right: 15px
        white-space: nowrap

        &:last-child
          margin-right: 0

        a.login
          +media-xs
            margin-right: 0
          +button-simple
          border-radius: 3px
          font-weight: bold
          margin-right: 15px
          padding: 5px 25px
          text-decoration: none

        &.nav-notifications
          .nav-item
            +button-simple

            &.active
              +community-theme('background-color')
              color: $color-background-lighter

          #notifications-toggle
            #notifications-count
              top: 0
              right: -5px

        .nav-item
          transition: transform 100ms ease-in-out
          will-change: transform

          &:hover
            img.avatar
              +community-theme('background-color')

          &.theme-toggle
            +button-simple
            border-radius: 50%
            cursor: pointer
            padding: 8px


.dropdown-toggle
  cursor: pointer

  img.avatar
    width: 40px
    height: 40px
    background-color: $color-background-light
    padding: 3px
    margin-right: 10px
    transition: background-color 150ms ease-in-out

  .dropdown-toggle-icon
    position: absolute
    bottom: 0
    right: 0

ul.dropdown-menu
  +media-xs
    margin: 0
    top: $header-height - 2

  border-bottom-left-radius: 3px
  border-bottom-right-radius: 3px
  display: none
  flex-direction: column
  list-style: none
  margin: 0
  padding: 0
  position: absolute
  top: 100%
  min-width: 150px
  visibility: hidden
  z-index: 1

  &.right
    right: 0

  li
    display: flex
    align-items: center
    border-bottom: thin solid $color-background

    &:last-child
      border: none

    a, span
      align-items: center
      display: flex
      color: $color-text-dark
      cursor: pointer
      font-weight: normal
      padding: 10px
      text-decoration: none
      text-shadow: none
      width: 100%

      &:hover
        +community-theme('color')

      i
        display: inline-block
        margin-right: 10px

  &.active
    display: flex
    visibility: visible

.spin
  animation-duration: 5s

.emoji
  height: 16px
  width: 16px
  vertical-align: middle
  padding: 0 1px

h1 .emoji
  width: $h1-font-size
  height: $h1-font-size

h2 .emoji
  height: $h2-font-size
  width: $h2-font-size

h3 .emoji
  height: $h3-font-size
  width: $h3-font-size

h4 .emoji
  height: $h4-font-size
  width: $h4-font-size

.welcome
  background-color: $color-background-light
  border-radius: $border-radius * 2
  box-shadow: 1px 2px 2px rgba(black, .2)

  &-logo
    max-height: 90px
    max-width: 110px

  .social
    display: flex
    font-size: 1.4em
    list-style-type: none
    margin: 0
    padding: 10px 0 0

    a
      background-color: $color-background-light
      margin-right: 5px

  &-extra
    max-width: 720px

.node-details-description
  a
    +community-theme('color', '!important')

.flyout
  &.communities
    +media-xs
      bottom: 0
      border: none
      box-shadow: none
      left: 0
      max-width: 100%
      right: 0
      top: 0
      width: 100%

    box-shadow: 10px 10px 25px rgba(black, .2)
    max-width: 500px
    position: absolute

    .flyout
      &-title
        border-bottom: thin solid $color-background-dark
        cursor: pointer
        display: flex
        font-size: 1.3em
        font-weight: normal

        a.title
          color: $color-text-dark
          text-decoration: none

          &:hover
            color: $color-text-dark-primary
            text-decoration: underline

      &-content
        display: flex
        flex-direction: column

        ul
          display: flex
          flex-wrap: wrap
          flex-direction: column
          list-style: none
          margin: 0
          padding: 0 3px


// Communities list flyout
.d-communities
  +media-xs
    background-color: $color-background
    position: fixed
    top: $header-height
    bottom: 0
    left: 0
    right: 0
    overflow-x: hidden
    overflow-y: auto
  display: none
  visibility: hidden

  &.active
    display: block
    visibility: visible

  &-list // .d-communities-list
    border-top: thin solid $color-background-dark
    font-size: .9em
    padding: 5px 5px 15px
    position: relative

    span.d-communities-title
      background-color: $color-background-light
      color: $color-text-dark-secondary
      left: 50%
      padding: 0 15px
      position: absolute
      top: -10px
      transform: translateX(-50%)

    .d-header-logo
      max-width: 40px

    .d-communities-info
      padding-left: 15px

    > ul
      display: flex
      flex-wrap: wrap
      list-style: none
      margin: 0
      padding: 0 3px

      > li
        width: 50%

        > a
          box-shadow: none

          &:hover
            background-color: initial


  &-item // .d-communities-item
    +media-xs
      border-top: thin solid $color-background-dark
    align-items: center
    background-color: $color-background-light
    border-radius: 3px
    box-shadow: 1px 1px 2px rgba(black, .1)
    display: flex
    padding: 5px 10px
    margin: 5px

    &:hover
      background-color: $color-background-lighter
      text-decoration: none

      span.title
        color: $color-primary

    .d-header-logo
      +media-xs
        position: relative
      height: 50px
      pointer-events: none
      width: 50px

  &-info
    display: flex
    flex-direction: column
    padding: 0 15px 0 25px

    span.title
      font-size: 1.3em
      padding-bottom: 3px
      color: $color-text

    span.summary
      color: $color-text

  &-suggest
    width: 100% !important

    .d-communities-item
      background: transparent
      box-shadow: none
      margin: 0

    .d-communities-info
      padding-left: 10px

      .title
        color: $color-text-dark-secondary
        font-size: $font-size

      .summary
        color: $color-text-dark-secondary
        font-size: $font-size-small

.d-communities-sidebar
  > li
    padding: 0 3px
    opacity: .5
    order: 50 // gets manually ordered below.

    &:hover
      opacity: 1

    &.is-active
      opacity: 1
      position: relative
      +community-theme('box-shadow', 'inset 5px 0 0')

    // Main community goes first.
    &.c-main
      order: 0

    // The big bois.
    &.c-today
      order: 1
    &.c-rightclickselect
      order: 2
    &.c-graphicall
      order: 3

    // Important ones.
    &.c-jobs,
    &.c-events
      order: 4

    // Lastly, local communities.
    &.c-hoy,
    &.c-hoje,
    &.c-oggi,
    &.c-actu
      order: 99

    // Bottom, separator and chat.
    &.c-separator,
    &.c-chat
      order: 9999

    .show-tooltip
      position: relative

      &:after
        border: 5px solid transparent
        border-right-color: $color-background-dark
        content: ''
        left: 45px
        position: fixed
        margin-top: -20px
        transform: translateX(-10px)
        transition: opacity 100ms ease-in-out, transform 100ms ease-in-out
        z-index: 2

      &:before
        background: $color-background-dark
        color: $color-text
        content: attr(data-tooltip)
        font-size: $font-size-small
        left: 55px
        position: fixed
        margin-top: 5px
        padding: 5px 10px
        border-radius: $border-radius
        opacity: 0
        transform: translateX(-10px)
        transition: opacity 100ms ease-in-out, transform 100ms ease-in-out
        white-space: nowrap
        z-index: 9999

      &:hover
        &:before, &:after
          opacity: 1
          transform: translateX(0)


.d-header
  +media-xs
    background-image: none
    box-shadow: 0 1px 3px rgba(black, .1)
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    min-height: $header-height

  display: flex
  position: relative
  z-index: 2

  // .d-header-background
  &-background
    +media-xs
      visibility: hidden
    background-color: $color-background-dark
    background-size: cover
    background-position-x: 50px
    height: 150px
    left: 0
    position: absolute
    right: 0
    top: 0
    transition: opacity 150ms ease-in-out
    width: 100%
    z-index: -2

    &:after
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      width: 100%
      content: ' '
      background-image: linear-gradient(transparent 52px, $color-background 100%)

  // .d-header-logo
  $header-logo-size: 35px
  &-logo
    +media-xs
      height: $header-logo-size / 1.8
      position: fixed
      width: $header-logo-size / 1.8

    align-items: center
    border-radius: 3px
    display: flex
    justify-content: center
    height: $header-logo-size
    position: relative
    width: $header-logo-size
    transition: transform 125ms ease-in-out

    &:hover
      transform: scale(1.1)

    img
      +position-center-translate
      margin: 0 5px
      max-width: 100%

    &.no-logo
      i
        +position-center-translate
        background-color: $color-background
        border-radius: 50%
        color: $color-text
        padding: 8px

  // .d-header-title
  &-title
    color: $white
    font-weight: bold
    text-decoration: none

    &:hover
      text-decoration: none
      color: $color-text

    span
      +community-theme('background-color')
      border-radius: $border-radius

  // .d-header-action
  &-action
    +media-xs
      margin-left: auto
    align-items: center
    justify-content: center
    display: flex
    flex-direction: column

    &.refine
      margin-left: auto

      nav.nav-bar
        margin-right: 10px

        > ul > li
          margin-right: 0

      +media-xs
        background-color: $color-background-lighter
        box-shadow: 0 5px 25px rgba(black, .1)
        display: none
        left: 0
        padding: 5px 0
        position: fixed
        right: 0
        top: $header-height

        &.active
          display: flex

        .wgt-dropdown-root
          margin: 0
        .wgt-dropdown-header
          min-width: auto
          width: 100%

        nav.nav-bar
          > ul
            > li
              margin: 5px 10px
              flex: 1

  // .d-header-toggle-nav
  &-toggle-nav
    +media-xs
      display: block
      visibility: visible

    color: $color-text-dark-secondary
    display: none
    font-size: 1.6em
    padding: 4px 8px
    position: fixed
    top: 0
    visibility: hidden
    z-index: 11

    &.active
      +community-theme('color')

      > i:before
        content: '\e84b'


#list-sort-by
  margin-left: 10px

  .wgt-dropdown-header
    background-color: $color-background-lighter
    border: thin solid $color-background
    color: $color-text-dark-secondary
    min-height: initial
    min-width: auto
    padding-bottom: 4px
    padding-top: 4px

    &:focus
      border-color: transparent


.hidden
  display: none !important
  visibility: hidden !important


.comment-reply-field,
.comment-reply-field textarea,
.comment-reply-preview-md
  background-color: $color-background-dark

// Animations
@-webkit-keyframes fLoaderBackground
  0%
    background-position: 0% 0%
  50%
    background-position: 100% 0%
  100%
    background-position: 0% 0%

@-moz-keyframes fLoaderBackground
  0%
    background-position: 0% 0%
  50%
    background-position: 100% 0%
  100%
    background-position: 200% 0%

@keyframes fLoaderBackground
  0%
    background-position: 0% 0%
  50%
    background-position: 100% 0%
  100%
    background-position: 200% 0%
