a:hover
	color: $color-primary

#col_right, #col_main
	padding-left: 0 !important // override sidebar offset from Pillar
	overflow-y: auto

#app-header
	display: flex
	flex-direction: column

#header-bar
	&-pri
		display: flex
		align-items: center
		width: 100%
		height: $header-bar-pri-size
		box-shadow: inset 0 -1px 0  $color-background-dark
		background-color: $color-background-light

		&-user
			padding: 10px
			margin-left: auto

.app-branding
	color: $color-primary
	font-size: $font-size-large
	padding: 10px
	text-decoration: none

.btn
	+button($color-primary, 2px, false)

	&.submit
		+button($color-primary, 2px, true)

.emoji
	height: 16px
	width: 16px

/* Listing item */
.item-title
	text-decoration: none
	font-family: $font-headings

	em
		color: $color-secondary
		font-style: normal

.item-media
	display: flex
	align-items: center
	justify-content: center
	font-size: 3em
	min-height: 280px
	background-color: $color-background-dark

$item-thumbnail-size: 90px
.item-thumbnail
	position: relative
	display: flex
	align-items: center
	justify-content: center
	width: $item-thumbnail-size
	min-width: $item-thumbnail-size
	max-height: $item-thumbnail-size / 1.4
	background-color: $color-background-dark
	overflow: hidden

	&:hover img
		transform: scale(1.1)

	+media-xs
		width: 100%
		max-height: initial

		img
			width: 100%

	img
		// position: absolute
		// min-width: $item-thumbnail-size
		// height: $item-thumbnail-size
		transition: transform 150ms ease-in-out

.item-content
	display: flex
	align-items: center
	width: 100%

.item-rating-box
	display: flex
	flex-direction: column
	height: 100%
	width: 40px
	min-width: 40px

	+media-xs
		width: 60px
		min-width: 60px

.item-rating
	display: flex
	align-items: center
	justify-content: center
	height: 100%

	+media-xs
		padding: 3px 0

	&.up, &.down
		font-size: 1.33em
		cursor: pointer

	&.up:hover
		color: $color-vote-up
	&.down:hover
		color: $color-vote-down

	&.value
		color: $color-text-light
		font-size: $font-size-small

.item-details
	display: flex
	flex-direction: column
	justify-content: space-around
	padding: 7px

	> ul
		margin: 0
		padding: 0
		> li
			margin: 0
			padding: 0
			display: inline-block
			font-size: $font-size-small
			padding: 5px 4px
			color: $color-text-light

			&:before
				content: '·'
				font-weight: bolder
				position: relative
				left: -6px
				top: 1px
				color: $color-text-hint

			&:first-child
				padding-left: 0
				&:before
					content: ''
					padding: 0
			a
				text-decoration: none
				color: $color-text-light
				&:hover
					color: $color-primary

			img
				display: inline-block
				vertical-align: middle
				border-radius: 3px

.item-body
	padding: 10px 20px
	font-size: $font-size
	line-height: 1.5em

#item-comments
	border-top: thin solid $color-background-dark
	margin: 10px 20px
