
/* Type */
$font-body: 'Roboto', sans-serif
$font-headings: 'Raleway'
$font-size: 16px
$font-size-small: 12px
$font-size-large: 20px

/* Colors */
$color-background: #eaebec
$color-background-light: lighten($color-background, 5%)
$color-background-dark: darken($color-background, 5%)

$color-text: #4d4e53
$color-text-light: rgba($color-text, .8)

$color-primary: crimson


$header-bar-pri-size: 40px
