
/* Type */
$font-body: 'Open Sans', Verdana, Arial, Helvetica, sans-serif
$font-headings: 'Oxygen', 'Lucida Sans', 'Lucida Grande', sans-serif
$font-size: 16px
$font-size-smaller: 10px
$font-size-small: 12px
$font-size-large: 18px
$font-size-extra-large: 22px

/* Colors */
$color-background: #EaEbEf
$color-background-light: lighten($color-background, 5%)
$color-background-dark: darken($color-background, 5%)
$color-background-darker: darken($color-background, 60%)

$color-text: #4d4e53
$color-text-lighter: #ccc
$color-text-light: rgba($color-text, .8)
$color-text-hint: rgba($color-text, .5)

$color-primary: #4c7e93
$color-secondary: #e74c3c

$color-vote-up: #ff8b60
$color-vote-down: #74a4ff

$header-bar-pri-size: 46px
