/* Listing item */
.item-title
	text-decoration: none
	font-family: $font-headings

	em
		color: $color-secondary
		font-style: normal

.item-media
	display: flex
	align-items: center
	justify-content: center
	background-color: $color-background-lighter

	iframe
		width: 100%

	iframe, img
		max-width: 100%
		max-height: 600px

$item-thumbnail-size: 90px
.item-thumbnail
	position: relative
	display: flex
	align-items: center
	justify-content: center
	width: $item-thumbnail-size
	min-width: $item-thumbnail-size
	overflow: hidden
	background-color: $color-background
	color: $color-text-hint

	&.has-thumbnail
		background-color: transparent

	+media-xs
		width: 100%
		max-height: initial
		margin: 0

		.item-thumbnail-picture
			width: 100%


	.item-thumbnail-picture
		position: absolute
		width: 100%
		height: $item-thumbnail-size
		transition: transform 150ms ease-in-out
		border-radius: 50%
		box-shadow: 2px 2px 0 rgba(black, .1)
		background-color: $color-background
		overflow: hidden
		display: flex
		justify-content: center

		img
			height: $item-thumbnail-size


.item-content
	display: flex
	align-items: center
	width: 100%

.item-rating-box
	display: flex
	flex-direction: column
	height: 100%
	width: 45px
	min-width: 45px

	+media-xs
		width: 60px
		min-width: 60px

	&.rated.positive .up
		color: $color-vote-up
	&.rated.negative .down
		color: $color-vote-down

.item-rating
	display: flex
	align-items: center
	justify-content: center
	height: 100%

	+media-xs
		padding: 3px 0

	&.up, &.down
		font-size: 1.33em
		cursor: pointer

	&.up:hover
		color: $color-vote-up
	&.down:hover
		color: $color-vote-down

	&.value
		color: $color-text-light
		font-size: $font-size-small

.item-details
	display: flex
	flex-direction: column
	justify-content: space-around
	flex: 1
	padding: 7px 0

	+media-xs
		padding: 7px

	> ul
		margin: 0
		padding: 0
		display: flex
		align-items: center

		> li
			margin: 0
			padding: 0
			display: inline-block
			font-size: $font-size-small
			padding: 5px 4px
			color: $color-text-light

			overflow: hidden
			text-overflow: ellipsis
			white-space: break-word

			&:before
				content: '·'
				font-weight: bolder
				position: relative
				left: -6px
				top: 1px
				color: $color-text-hint

			&:first-child
				padding-left: 0
				&:before
					content: ''

			a
				text-decoration: none
				color: $color-text-light
				&:hover
					color: $color-primary

			img
				display: inline-block
				vertical-align: middle
				border-radius: 3px
				position: relative
				top: -2px
				opacity: .8

				&:hover
					opacity: 1

			&#item-post_type
				text-transform: capitalize

			&.item-edit
				margin-left: auto
				padding-right: 15px
				a
					border: thin solid $color-text-hint
					padding: 2px 10px
					border-radius: 3px

.item-body
	font-size: $font-size
	line-height: 1.5em

#item-comments
	margin: 10px 15px

/* Edit */
.item-edit
	&-header
		display: flex
		align-items: center
		padding: 20px 10px

		&-action
			margin-left: auto

			.btn
				margin-left: 10px

	&-form
		form
			display: flex
			flex-direction: column

			#name
				color: $color-primary
				padding: 10px

			#content
				padding: 10px

			textarea#content
				min-height: 150px

			span.content-extra
				font-size: $font-size-smaller
				text-align: right
				padding: 5px 10px

				a
					color: $color-text-hint
					&:hover
						color: $color-primary

			#category
				padding: 10px
				margin: 5px 10px
				background-color: $color-background-lighter

			#status, #post_type
				visibility: hidden
				display: none

			.form-upload-file
				padding: 10px 5px

			input, textarea
				margin: 5px 10px
				background-color: $color-background-lighter

			label
				padding-top: 10px
				padding-left: 15px

			.input-content
				display: flex
				flex-direction: column

				input, textarea
					background-color: $color-background-lighter

			.fileupload
				box-shadow: none
				background-color: $color-background-light
				padding: 10px
				margin: 10px 0

			#item-icon
				position: absolute
				left: 12px
				bottom: 8px
				width: 32px
				height: 32px
				display: flex
				align-items: center
				justify-content: center

				img
					max-width: 24px
					max-height: 24px


	/* Tabs for Link/Text */
	&-tabs
		list-style-type: none
		margin: 0
		padding: 0
		display: flex

		> li
			flex: 1
			padding: 10px 15px
			background-color: $color-background-dark
			border-top: 5px solid darken($color-background-dark, 10%)
			color: darken($color-background-dark, 35%)
			cursor: pointer
			user-select: none
			margin-bottom: 15px

			&:hover
				color: $color-primary
				border-top: 5px solid rgba($color-secondary, .25)

			span
				display: block
				font:
					size: $font-size-large
					family: $font-headings

			small
				font-size: $font-size-small

			&.active
				background-color: $color-background
				border-color: $color-secondary
				color: $color-primary
				span
					color: $color-secondary

	&-tab

		/* When the Link tab is active, hide/show some elements */
		&.link
			.input-content.link
				position: relative
				display: flex
				justify-content: center
				overflow: hidden

				input#content
					visibility: visible
					display: block
					padding-left: 36px

			.input-content.text,
			span.content-extra
				visibility: hidden
				display: none

		/* When the Text tab is active, hide/show some elements */
		&.text
			.input-content.text
				visibility: visible
				display: flex
			.input-content.link, #item-icon
				visibility: hidden
				display: none


/* Shown when loading a post */
.item-loading
	display: flex
	align-items: center
	justify-content: flex-start
	flex-direction: column
	padding: 15px
	text-align: center

	&-icon
		display: flex
		align-items: center
		justify-content: center
		padding: 20px
		font-size: $font-size-large
		color: rgba($color-text, .3)

		i
			font-size: $font-size
			margin-right: 10px

	.item-title
		font-size: $font-size-extra-large
		color: $color-text-hint

		span
			padding-left: 5px


.item-view
	.item-body
		border-top: thin solid $color-background-dark

	&.text
		.item-body
			background-color: $color-background-lighter
			padding: 20px 20px 25px 20px

			img
				max-width: 100%

			blockquote
				display: block
				background-color: $color-background
				border-left: thick solid $color-background-dark
				padding: 1px 10px
				margin: 0

	&.link
		.item-body
			background-color: $color-background
			display: flex
			align-items: center

			a
				font-size: $font-size-small
				line-height: $font-size
				padding: 10px 20px 13px 20px
				display: block
				flex: 1
				text-decoration: none
				color: $color-text-dark-primary
				&:hover
					text-decoration: underline
					color: $color-primary

			img
				margin-right: 15px
				width: 16px
				height: 16px
				position: relative
				top: 3px
