.list-hits-item
  +clearfix
  background-color: $color-background-light
  border-radius: $border-radius * 2
  box-shadow: 1px 2px 2px rgba(black, .1)
  cursor: pointer
  flex-direction: row-reverse
  position: relative
  transition: background-color 150ms ease-in-out, box-shadow 250ms ease-in-out

  &:hover
    background-color: $color-background-lighter

  &.active
    +media-xs
      background-color: $color-background-dark
    background-color: $color-background-dark
    // box-shadow: -5px 0 inset var(--community-theme-color, $color-primary)

    .item-title
      color: var(--community-theme-color, $color-primary)

  .item-details
    +media-xs
      ul
        li
          font-size: .8em

    li
      font-size: $font-size-smaller

    .item-link
      +media-lg
        +text-overflow-ellipsis
        display: block

      display: none

  a.item-title
    +media-xs
      font-size: 1em
    color: $color-text
    font-size: $font-size * 1.2

    &:hover
      color: var(--community-theme-color, $color-primary)

  .item-comments
    margin-left: auto

    &:before
      display: none

  //- Status-dev styling in posts_list.
  &.Duplicate
    opacity: .5

    ul *,
    .item-thumbnail
      display: none

    &.active
      opacity: unset


.cards-display
  .list-hits-item
    flex-direction: column-reverse

    .item-thumbnail
      background-color: $color-background-light
      border-top-left-radius: 0
      border-top-right-radius: 0
      margin: 0
      max-width: unset
      max-height: 500px

      img
        height: unset
        width: 100%
        position: unset
        left: unset
        top: unset
        transform: unset
        object-fit: scale-down

.is-hot
  box-shadow: 5px 0 inset crimson

.listing-view
  .item-title
    +media-xs
      font-size: $font-size * 1.2
    font-size: $font-size-extra-large

    .emoji
      height: $font-size-large
      width: $font-size-large

  .item-details
    +media-xs
      ul li
        font-size: .8em

.listing-facets
  justify-content: flex-end

  .select2-container
    margin: 0 10px
    width: auto !important
    min-width: 80px

$select-min-width: 160px
.list-facet
  &.tags
    .select2-container
      min-width: 160px

  &.status_dev
    .select2-container
      +media-lg
        min-width: 180px
      +media-sm
        min-width: 140px
      min-width: 160px
