ul.list-hits
	padding: 5px
	margin: 0

	> li
		display: flex
		flex-direction: row-reverse
		height: 100%
		background-color: $color-background-light
		border-radius: 3px
		box-shadow: 1px 2px 2px $color-background-dark, inset -5px 0 0  $color-background-dark
		padding-right: 5px
		+clearfix

		+media-xs
			flex-direction: column
			margin: 10px
			box-shadow: 1px 1px 0  $color-background-dark
			border-radius: 2px

		&.active
			background-color: white
			box-shadow: 1px 2px 2px $color-background-dark, inset -5px 0 0  $color-secondary

			+media-xs
				box-shadow: 1px 2px 2px $color-background-dark, 0 -5px 0  $color-secondary

			.item-title
				color: $color-primary

		a.item-title
			font-size: 1.2em
			color: $color-text
			padding: 2px 0

			&:hover
				color: $color-primary

.listing-view
	box-shadow: inset 1px 0 0 $color-background-dark

	.item-content
		padding: 10px 0
	.item-title
		font-size: $font-size-extra-large
		color: $color-primary

		.emoji
			width: $font-size-large
			height: $font-size-large

	.item-rating-box
		min-width: 50px

	.item-details
		padding: 5px 0

	&#col_right
		background-color: $color-background-lighter

#list-item
	height: 100%
	overflow-x: hidden
