#list-hits
  margin: 0

.list-hits-item
  +clearfix
  +media-xs
    border-radius: 0
    flex-direction: row-reverse
    margin: 0
    box-shadow: inset 0 1px $color-background-dark

  background-color: $color-background-light
  border-radius: 3px
  box-shadow: 1px 2px 2px rgba(black, .1)
  cursor: pointer
  display: flex
  height: 100%
  margin: 8px 12px 8px 5px
  position: relative
  transition: background-color 150ms ease-in-out, box-shadow 250ms ease-in-out

  &:hover
    background-color: $color-background-lighter

  // Triangle on the right
  &:after
    +media-xs
      display: none
    opacity: 0
    right: -8px
    transition: opacity 300ms ease-in-out, right 300ms ease-in-out
    transition-delay: 50ms

  &.active
    +media-xs
      background-color: $color-background-lighter
      box-shadow: 1px 2px 2px rgba(black, .1), inset 5px 0 0 var(--community-theme-color, $color-primary)
    background-color: $color-background-lighter
    box-shadow: 1px 2px 2px rgba(black, .1), inset -5px 0 0 var(--community-theme-color, $color-primary)

    // Triangle on the right
    &:after
      content: ''
      border: 6px solid transparent
      border-left-color: var(--community-theme-color, $color-primary)
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: -12px
      opacity: 1

    .item-favicon img
      opacity: 1

    .item-title
      color: var(--community-theme-color, $color-primary)

  &.is-own
    .item-rating-box .item-rating.up,
    .item-rating-box .item-rating.down
      pointer-events: none
      color: rgba($color-text-dark-hint, .4)

  &.is-featured
    background-color: $color-background-lighter

    &:before
      align-items: center
      background-color: $color-background-lighter
      border-radius: 50%
      color: $color-danger
      content: '\e85e'
      display: flex
      font-family: 'pillar-font'
      font-size: 1.2em
      height: 22px
      justify-content: center
      position: absolute
      right: 7px
      top: 5px
      width: 22px
      z-index: 1

  .item-details
    ul
      padding-bottom: 3px
      padding-right: 5px

    +media-xs
      ul
        li
          font-size: .8em

    .item-link
      +media-lg
        +text-overflow-ellipsis
        display: block

      display: none

  a.item-title
    +media-xs
      font-size: 1em
    color: $color-text
    font-size: 1.1em
    padding: 8px 10px 3px 0

    &:hover
      color: var(--community-theme-color, $color-primary)

  .item-favicon img
    top: 0

  .item-author
    +media-xs
      display: none
    +media-sm
      max-width: 50px
      white-space: nowrap

  .item-date a
    white-space: nowrap

  .item-comments
    margin-left: auto

    &:before
      display: none

.listing-empty
  align-items: center
  bottom: 0
  color: $color-text-dark-primary
  cursor: default
  display: flex
  font-family: $font-headings
  font-size: $font-size-small
  flex-direction: column
  justify-content: center
  left: 0
  position: absolute
  right: 0
  text-align: center
  top: 0

  span.query
    color: var(--community-theme-color, $color-primary)
    display: block
    font-size: $font-size-extra-large
    padding: 0 40px 10px

  .query-clear
    cursor: pointer
    color: var(--community-theme-color, $color-primary)
    font-size: $font-size-small

    &:hover
      color: var(--community-theme-color, $color-primary)
      text-decoration: underline

.listing-view
  box-shadow: inset 1px 0 0 $color-background-dark

  .item-content
    padding: 10px 0

  .item-title
    +media-xs
      font-size: $font-size * 1.2

    color: var(--community-theme-color, $color-primary)
    font-size: $font-size-extra-large

    .emoji
      height: $font-size-large
      width: $font-size-large

  .item-rating-box
    +media-xs
      min-width: 50px
    min-width: 65px

  .item-details
    +media-xs
      ul li
        font-size: .8em

    padding: 5px 0


#list-item
  height: 100%
  overflow-x: hidden

.listing-list-info
  display: flex
  align-items: center
  justify-content: center

  #list-pagination
    margin-left: auto
  #list-stats
    margin-right: auto

  .list-search-provider
    margin-left: 5px
    margin-top: 3px
    height: 100%
    width: 20px

    svg
      fill: rgba($color-background-darker, .25)
