.container
	margin: 0 auto

	+media-sm
		margin: 0 15px
		width: 100%

.settings-form
	.fieldset-row
		display: flex
		margin: 10px auto

		input[type="text"],
		input[type="url"]
			background-color: $color-background
			display: block
			padding: 5px 10px
			width: 100%

		.btn
			margin-left: auto

		.btn i
			margin-right: 0

		&-error
			color: $color-danger
			font-size: $font-size-small
			padding-top: 5px

	.fieldset-field
		flex: 1
		margin-right: 10px
		padding:
			top: 5px
			right: 25px

		input
			flex: 1

	.fieldset-field-action
		padding-top: 5px

	.fieldset-notice
		color: $color-text-dark-primary
		display: none
		padding-left: 10px
