.user
	&-dashboard
		display: flex
		align-items: center
		justify-content: center
		padding: 50px 25px

		&-info
			padding: 0 10px
			margin-left: 25px
			border-left: thin solid $color-background-dark

		&-name
			font-size: 1.8em
			padding-left: 10px

		&-username
			color: $color-text-dark-secondary
			padding-left: 10px
			text-decoration: none

		&-meta
			color: $color-text-dark-secondary
			font-size: $font-size-small
			margin: 20px 0 0

			strong
				margin-right: 5px

		ul
			list-style: none
			padding: 0

		&-avatar
			img
				border-radius: 50%
				box-shadow: 1px 2px 2px rgba(black, .2)

		&-links
			padding: 0 10px

			ul
				li a
					align-items: center
					display: flex
					text-decoration: none

					&:hover
						text-decoration: underline

				img
					margin-right: 10px
