| {% load i18n %}
| {% load dillo_filters %}

| {% for profile in object_list %}
li
  a.dir-user-item(href="{% url 'profile-detail' profile.user.username %}")
    .dir-user-item-header
      .dir-user-title
        h3 {% firstof profile.name profile.user.username %}
        .badges-row
          | {% for badge in profile.badges.all %}
          .badge.is-user(title="{{ badge.name }}")
            img(
              alt="{{ badge.name }}",
              src="{{ badge.image.url }}")
          | {% endfor %}


      .dir-user-item-stats
        | {% if profile.views_count > 0 %}
        span #[i.i-eye] {{ profile.views_count | compact_number }}
        | {% endif %}

        | {% if profile.likes_count > 0 %}
        span #[i.i-heart]{{ profile.likes_count }}
        | {% endif %}

        | {% if profile.posts_count > 0 %}
        span #[i.i-post]{{ profile.posts_count }}
        | {% endif %}

    .dir-user-subtitle {{ profile.location_label }}

    | {% if profile.tagline %}
    .dir-user-item-bio {{ profile.tagline }}
    | {% endif %}

  | {% empty %}
  p No user matches this query. Try something else!
| {% endfor %}
