| {% load i18n %}

.nav-tabbar-items
  .dropdown
    #dropdown-sorting(data-toggle="dropdown") {{ url_params.sort_label }}
    .dropdown-menu
      a.dropdown-item(
        href="{% url 'reel-list' %}?sort=top{{ url_params.tag_qs }}",
        class="{% if url_params.sort == 'top' %}active{% endif %}"
        ) Top Rated
      a.dropdown-item(
        href="{% url 'reel-list' %}?sort=recent{{ url_params.tag_qs }}",
        class="{% if url_params.sort == 'recent' %}active{% endif %}"
        ) Most Recent
