| {% load i18n %}

.nav-tabbar-items
  a.btn(
    href="{% url 'reel-list' %}",
    class="{% ifequal '/reels/' request.get_full_path %}active{% endifequal %}")
    span {% trans 'Top Reels' %}
  a.btn(
    href="{% url 'reel-list' %}?sort=recent",
    class="{% if '/reels/?sort=recent' in request.get_full_path %}active{% endif %}")
    span {% trans 'Most Recent' %}
