{% extends 'layout.html' %}

{% block page_title %}{{post.title}}{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-9 post-view">
	<div class="post-view-container">

		<ol class="breadcrumb">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('index')}}{{post.category.url}}">{{post.category}}</a></li>
			<li class="active">{{post.title}}</li>
		</ol>

		<div class="post-view-rate{% if current_user.is_anonymous() %} popover-vote{% endif %}"
				{% if current_user.is_anonymous() %}
				 data-toggle="popover" data-trigger="hover" data-placement="bottom"
				 data-content="Please login to vote"
				{% endif %}>
			<a class="up{% if post.user_rating and post.user_rating.is_positive %} rated{% endif %}" href="{{url_for('posts.rate', uuid=post.uuid, rating='1')}}" title="Upvote, click again to undo">
				<i class="fa fa-angle-up"></i>
			</a>
			<span class="middle rating">{{post.rating_delta}}</span>
			<a class="down{% if post.user_rating and not post.user_rating.is_positive %} rated{% endif %}" href="{{url_for('posts.rate', uuid=post.uuid, rating='0')}}" title="Downvote, click again to undo">
				<i class="fa fa-angle-down"></i>
			</a>
		</div>
		<div class="post-view-title">
			<a href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid)}}" title="{{post.title}}">
				{{post.title}}
			</a>
		</div>

		<div class="clearfix"></div>

		<div class="post-view-content" id="post-content">{{post.content|safe}}</div>
		{% if current_user.is_owner %}
			<span id="edit-post-toggle" class="btn btn-default">Edit</span>
			<a id="edit-post-save" class="btn btn-default" href="{{ url_for('posts.edit', uuid=post.uuid) }}">Save</a>
			{% if post.status != 'deleted' %}
			<a id="edit-post-delete" class="btn btn-default" href="{{ url_for('posts.delete', uuid=post.uuid) }}">Delete</a>
			{% endif %}
		{% endif %}

		{% if post.picture %}
		<div class="post-view-content-image">
			<a href="http://imgur.com/{{post.picture}}" title="View on imgur.com" target="_blank">
				<img src="{{post.thumbnail('h')}}"/>
				<div class="post-view-content-image-link">view on imgur.com</div>
			</a>
		</div>
		{% endif %}

		<div class="post-view-details">
			<div class="row">
				<div class="col-md-1 col-sm-1 col-xs-2">
					<div class="post-view-details-avatar">
						<img class="img-circle" src="{{post.user.gravatar()}}" title="{{post.user.first_name}} {{post.user.last_name}}">
						{% if post.user.has_role('network_member') %}
						<div class="post-view-details-avatar-label">
							{% if post.user.has_role('bfct_trainer') %}
								<i class="bfct_trainer fa fa-graduation-cap" title="Blender Foundation Certified Trainer"></i>
							{% else %}
								<i class="network_member bf-network" title="Blender Network Member"></i>
							{% endif %}
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-md-11 col-sm-11 col-xs-10">
					<div class="post-view-details-meta">
						<span class="author-name">{{post.user.first_name}} {{post.user.last_name}}</span>
						<span class="author-roles">
							{% if post.user.has_role('network_member') %}
								Blender Network Member<br/>
							{% endif %}
							{% if post.user.has_role('bfct_trainer') %}
								Blender Foundation Certified Trainer
							{% endif %}	
						</span>
						<span class="meta">
							<span class="date">
							Posted <span title="{{post.creation_date.strftime('%H:%M on %A %d, %B %Y')}}">{{post.pretty_creation_date}}</span>
							{% if post.status == 'edited' %}
								<span title="Last edited {{post.pretty_edit_date}}">
									<span class="disabled">(edited)</span>
								</span>
							{% endif %}
							</span>
							<span class="separator"></span>
							<a title="Permalink" href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid)}}">
								<i class="fa fa-link"></i>
							</a>
							<span class="separator"></span>
							<a title="Flag this post" class="flag{% if post.user_rating and post.user_rating.is_flagged %} flagged{% endif %}" href="{{url_for('posts.flag', uuid=post.uuid)}}" title="Flag, click again to undo">
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="post-view-comments">
			<a name="comments"></a>
			<h3 class="title">Comments <small>({{post.comments|length}})</small></h3>

			{% if post.comments %}
				{% for comment in post.comments %}
					<a name="comment-{{comment.id}}"></a>
					<div class="post-view-comments-item {{ loop.cycle('odd', 'even') }}">
						<div class="row">

							<div class="col-md-1 col-sm-1 col-xs-2">
								<div class="post-view-comments-avatar">
									<img class="img-circle" src="{{comment.user.gravatar()}}" title="{{comment.user.first_name}} {{comment.user.last_name}}">
									{% if post.user.has_role('network_member') %}
									<div class="post-view-comments-avatar-label">
										{% if post.user.has_role('bfct_trainer') %}
											<i class="bfct_trainer fa fa-graduation-cap" title="Blender Foundation Certified Trainer"></i>
										{% else %}
											<i class="network_member bf-network" title="Blender Network Member"></i>
										{% endif %}
									</div>
									{% endif %}
								</div>
							</div>

							<div class="col-md-11 col-sm-11 col-xs-10">
								<div class="post-view-comments-item-content">
									{{comment.content|safe}}
								</div>
								<div class="post-view-comments-item-details">
									<a class="post-view-comments-item-rate comment-up up{% if comment.user_rating and comment.user_rating.is_positive %} rated{% endif %}" href="{{url_for('comments.rate', comment_id=comment.id, rating='1')}}">
										<i class="fa fa-chevron-up"></i>
									</a>
									<a class="post-view-comments-item-rate down{% if comment.user_rating and not comment.user_rating.is_positive %} rated{% endif %}" href="{{url_for('comments.rate', comment_id=comment.id, rating='0')}}">
										<i class="fa fa-chevron-down"></i>
									</a>
									<span class="separator"></span>
									<span class="rating">{{comment.rating_delta}}</span>
									<span class="separator"></span>
									<span title="{{comment.creation_date.strftime('%H:%M on %d %B, %Y')}}">{{comment.pretty_creation_date}}</span>
									<small>by</small> {{comment.user.first_name}} {{comment.user.last_name}}
									<span class="separator"></span>
									<a href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid)}}#comment-{{comment.id}}"><i class="fa fa-link"></i></a>
									<span class="separator"></span>
									<a class="post-view-comments-item-flag flag{% if comment.user_rating and not comment.user_rating.is_flagged %} flagged{% endif %}" href="{{url_for('comments.flag', comment_id=comment.id)}}">
									</a>
								</div>
							</div>
						</div> <!-- row -->
					</div> <!-- post-view-comments-item -->
				{% endfor %}
			{% else %}
				<div class="post-view-comments-empty">
					No comments yet. Be the first!
				</div>
			{% endif %}

			<div class="post-view-comments-submit">
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-11">
						{% if current_user.is_anonymous() %}
							<h3><a href="{{url_for_security('login')}}">Login to comment</a></h3>
						{% else %}
							<h3>Leave a comment</h3>
						{% endif %}
					</div>

					<div class="col-md-1">
					</div>
					<div class="col-md-11">
						{% if not current_user.is_anonymous() %}
						<form id="form-comment" role="form" method="POST" enctype="multipart/form-data" action="{{url_for('comments.submit', post_id=post.id)}}">
						{{ form.hidden_tag() }}
						<div class="form-group">
							{{ form.content(class='form-control', id='post_comment') }}
							{% if form.content.errors %}
								<ul class="error">
										{% for error in form.content.errors %}<li>{{ error }}</li>{% endfor %}
								</ul>
							{% endif %}
						</div>

						<button id="submit-post" type="submit" class="btn btn-default btn-block btn-squishy btn-success submit" value="Go">
							<i class="fa fa-check"></i> Submit Comment
						</button>

					</form>
					{% endif %}
					</div>
				</div>
			</div>
		</div> <!-- post-view-comments -->
	</div> <!-- post-view -->
</div> <!-- col-md -->
<div class="col-md-3">
	{% include '_sidebar.html' %}
</div>
</div> <!-- row -->
{% endblock %}

{% block footer_scripts %}

	<script type="text/javascript">

	{% if current_user.is_authenticated() %}
		CKEDITOR.replace('post_comment', {
				removePlugins: 'elementspath',
				resize_enabled: false
		});
		CKEDITOR.disableAutoInline = true;

		CKEDITOR.config.forcePasteAsPlainText = true;

		CKEDITOR.instances['post_comment'].on('change', function() { CKEDITOR.instances['post_comment'].updateElement() });


		var upvote = function(up, down, rate) {
			$.get(up.attr("href"), function(data){
				down.removeClass('rated');
				if (data['rating'] === "True") {
					up.addClass('rated');
				} else {
					up.removeClass('rated');
				}
				rate.text(data['rating_delta']);
			});
		}

		var downvote = function(up, down, rate) {
			$.get(down.attr("href"), function(data){
				up.removeClass('rated');
				if (data['rating'] === "False") {
					$(".down").addClass('rated');
				} else {
					$(".down").removeClass('rated');
				}
				rate.text(data['rating_delta']);
			});
		}

		$(".up").click(function(e) {
			e.preventDefault();
			var up = $(this);
			var rate = $(this).siblings('.rating');
			var down = $(this).siblings('.down');
			upvote(up, down, rate);
		});

		$(".down").click(function(e) {
			e.preventDefault();
			var up = $(this).siblings('.up');
			var rate = $(this).siblings('.rating');
			var down = $(this);
			downvote(up, down, rate);
		});

		$(".flag").click(function(e) {
			e.preventDefault();
			$(this).toggleClass('flagged');
			$.get($(this).attr("href"));
		});

		var print_comment = function(comment) {
		comment = 
		'<div class="post-view-comments-item flash"> \
			<div class="row"> \
				<div class="col-md-1 col-sm-1 col-xs-2">\
					<div class="post-view-comments-avatar">\
						<img src="' + comment['gravatar'] + '" class="img-circle">\
					</div>\
				</div>\
				<div class="col-md-11 col-sm-11 col-xs-10">\
					<div class="post-view-comments-item-content">\
						' + comment['content'] + '\
					</div>\
					<div class="post-view-comments-item-details">\
						<a href="/comments/' + comment['comment_id'] + '/rate/1" class="post-view-comments-item-rate comment-up up">\
							<i class="fa fa-chevron-up"></i>\
						</a>\
						<a href="/comments/' + comment['comment_id'] + '/rate/0" class="post-view-comments-item-rate down">\
							<i class="fa fa-chevron-down"></i>\
						</a>\
						<span class="separator"></span>\
						<span class="rating">0</span>\
						<span class="separator"></span>\
						<span>' + comment['creation_date'] + '</span>\
						<small>by</small> ' + comment['user_name'] + '\
						<span class="separator"></span>\
						<a href="/posts/news/' + comment['post_uuid'] + '/#comment-' + comment['comment_id'] + '"><i class="fa fa-link"></i></a>\
						<a href="/comments/' + comment['comment_id'] + '/flag" class="post-view-comments-item-flag flag">\
							<i class="fa fa-flag"></i>\
						</a>\
					</div>\
				</div>\
			</div> \
		</div>';
		return comment;
		}

		$("#form-comment").on("submit", function( event ) {
			event.preventDefault();
			$.post($(this).attr('action'), $(this).serialize(),function(data){
				c = print_comment(data['comment']);
				$(".post-view-comments-submit").before(c);
			});
		});

		{% if current_user.is_owner %}
			$("#edit-post-toggle").click(function() {
				var ck = CKEDITOR.inline('post-content');
				ck.on( 'instanceReady', function( ev ) {
					var editor = ev.editor;
					editor.setReadOnly( false );
				});
				$(this).hide();
				$("#edit-post-save").show();
			});
			$("#edit-post-save").click(function(e) {
				e.preventDefault();
				$.post($(this).attr("href"), {
					content : $("#post-content").html()}, 
					function(data){
				});
			});
			$("#edit-post-delete").click(function(e) {
				e.preventDefault();
				$.post($(this).attr("href"), function(data){

				});
			});
		{% endif %}

	{% else %}
		$('.popover-vote').popover();
	{% endif %}

	</script>
{% endblock %}
