| {% macro render_field_with_errors(field) %}

| {{ field.label }} {{ field(**kwargs)|safe }}
| {% if field.errors %}
ul.error
| {% for error in field.errors %}
li {{ error }}
| {% endfor %}
| {% endif %}

| {% endmacro %}


| {% macro render_field_with_errors_without_label(field) %}

| {{ field(**kwargs)|safe }}

| {% if field.errors %}
ul.error
| {% for error in field.errors %}
li {{ error }}
| {% endfor %}
| {% endif %}

| {% endmacro %}


| {% macro render_field(field) %}
| {{ field(**kwargs)|safe }}
| {% endmacro %}


| {% macro render_login_field_with_errors(field) %}

| 	{{ field(**kwargs)|safe }}

| 	{% if field.errors %}
ul.error
| 		{% for error in field.errors %}
li {{ error }}
| 		{% endfor %}
| 	{% endif %}

| {% endmacro %}


| {% macro render_register_field_with_errors(field) %}
| {{ field(**kwargs)|safe }}
| {% endmacro %}


| {% macro render_button(field) %}
| {{ field(**kwargs)|safe }}
| {% endmacro %}
