<textarea name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>

<div id="uppy-drop-area" class="entity-drop-area"></div>
<div id="uppy-drop-area-progress"></div>

{% verbatim %}
<div class="entity-media-list" v-if="media.length">
  <label>Post Media:</label>
  <ul>
    <li v-for="static_asset in media">
        <div
            class="media-list-item-label"
            @click="copyToClipboardAndAppend('id_content', '{media ' + static_asset.hash_id + '}')"
            title="Append embed code to the post">
            <span>{{ static_asset.hash_id }}</span> {{ static_asset.name }} ~{{ static_asset.size_label }}
        </div>
        <div class="btn-toolbar-row">
          <div class="btn btn-sm"
              v-if="static_asset.hash_id"
              @click="copyToClipboardAndAppend('id_content', '{media ' + static_asset.hash_id + '}')"
              title="Append embed code to the post">
              <span><i class="i-copy"></i></span>
          </div>
          <div class="btn btn-danger btn-sm"
              @click="removeMedia(static_asset.entity_media_id, static_asset.name)"
              title="Delete Media">
            <span><i class="i-trash"></i></span>
          </div>
        </div>
    </li>
  </ul>
</div>
{% endverbatim %}
