| {% load i18n %}

button.btn.btn-link.btn-sidebar(
	class="{{ js_class }}",
	title="{% trans 'Load More' %}",
	data-next_url="{{ url_next }}?page={{ page_obj.next_page_number }}")
	span {% trans 'Load More' %}
