| {% load static %}
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name="theme-color", content="#0047fa")

- var site_name = 'anima.to';
- var site_keywords = 'animation,animate,2d,3d,2danimation,cg,motiongraphics,blender,greasepencil,toonboom,tvpaint,flash';
- var fb_app_id = '384707122164385';
meta(name='description', content="{{ og_data.description | default:og_data_default.description}}")
meta(name='keywords', content=site_keywords)
title {% block page_title %}{% endblock page_title %}#[=site_name]

link(rel="apple-touch-icon", sizes="180x180", href="{% static 'favicon/apple-touch-icon.png' %}")
link(rel="icon", type="image/png", sizes="32x32", href="{% static 'favicon/favicon-32x32.png' %}")
link(rel="icon", type="image/png", sizes="16x16", href="{% static 'favicon/favicon-16x16.png' %}")
link(rel="manifest", href="{% static 'favicon/site.webmanifest' %}")

//- TODO(Pablo): Use own font.
link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Nunito:400,800&display=swap")

//- TODO: Use site setting.
meta(property="fb:app_id", content=fb_app_id)

//- TODO: Fill OpenGraph data
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@AnimatoHQ")
meta(property="og:site_name", content=site_name)
meta(property="og:url", content="https://anima.to{{ request.path }}")
meta(property="og:type", content="website")

meta(name="twitter:title", content="{{ og_data.title | default:og_data_default.title }}")
meta(property="og:title", content="{{ og_data.title | default:og_data_default.title }}")

meta(name="twitter:description", content="{{ og_data.description | default:og_data_default.description}}")
meta(property="og:description", content="{{ og_data.description | default:og_data_default.description}}")

meta(name="twitter:image", content="{{ og_data.image_url | default:og_data_default.image_url }}")
meta(name="twitter:image:alt", content="{{ og_data.image_alt | default:og_data_default.image_alt }}")
meta(property="og:image", content="{{ og_data.image_url | default:og_data_default.image_url }}")
meta(property="og:image:width", content="1280")
meta(property="og:image:height", content="720")
