| {% load i18n %}
| {% if request.user.is_superuser %}
li
  a.dropdown-item.is-admin(href="{% url 'admin:index' %}", title='Whoosh')
    i.i-coffee
    | Whoosh
li
  a.dropdown-item.is-admin(href="{% url 'admin-create-post-from-url' %}", title='Create Post from URL')
    i.i-link
    | Post from URL
li
  a.dropdown-item.is-admin(href="{% url 'admin:auth_user_changelist' %}", title='Users List')
    i.i-users
    | Users

li.dropdown-divider
| {% endif %}

li
  a.dropdown-item(href="{% url 'profile-detail' request.user.username %}", title='{% trans "My Profile" %}')
    i.i-user
    | {% trans "Profile" %}

li
  a.dropdown-item(href="{% url 'bookmarks' %}", title='{% trans "My Saved Bookmarks" %}')
    i.i-bookmark
    | {% trans "My Bookmarks" %}

li
  a.dropdown-item(href="{% url 'short-list' %}?submitted-by={{ request.user.pk }}", title='{% trans "My Shorts" %}')
    i.i-shorts
    | {% trans "My Shorts" %}

li
  a.dropdown-item(href="{% url 'rig-list' %}?submitted-by={{ request.user.pk }}", title='{% trans "My Rigs" %}')
    i.i-package
    | {% trans "My Rigs" %}

li.dropdown-divider

li
  a.dropdown-item(href="{% url 'profile_edit' %}", title='{% trans "Settings" %}')
    i.i-settings
    | {% trans "Settings" %}
li.dropdown-divider
li
  a.dropdown-item(href="{% url 'logout' %}", title='{% trans "Logout" %}')
    i.i-log-out
    | {% trans "Logout" %}
