| {% load i18n %}
| {% if request.user.is_superuser %}
a.dropdown-item.is-admin(href="{% url 'admin:index' %}", title='Whoosh')
  i.i-coffee
  | Whoosh
a.dropdown-item.is-admin(href="{% url 'admin-create-post-from-url' %}", title='Create Post from URL')
  i.i-link
  | Post from URL
a.dropdown-item.is-admin(href="{% url 'admin:auth_user_changelist' %}", title='Users List')
  i.i-users
  | Users
//- XXX Replace with proper url lookup like 'admin:rigs' or so.
a.dropdown-item.is-admin(href="/admin/rigs/rig/", title='Rigs List')
  i.i-package
  | Rigs
a.dropdown-item.is-admin(href="/admin/dillo/event/", title='Events')
  i.i-events
  | Events
.dropdown-divider
| {% endif %}

a.dropdown-item(href="{% url 'bookmarks' %}", title='{% trans "My Saved Bookmarks" %}')
  i.i-bookmark
  | {% trans "My Bookmarks" %}

a.dropdown-item(href="{% url 'profile-detail' user.username %}", title='{% trans "Profile" %}')
  i.i-user
  | {% trans "Profile" %}
a.dropdown-item(href="{% url 'profile_edit' %}", title='{% trans "Settings" %}')
  i.i-settings
  | {% trans "Settings" %}
.dropdown-divider
a.dropdown-item(href="{% url 'logout' %}", title='{% trans "Logout" %}')
  i.i-log-out
  | {% trans "Logout" %}
