{% load dillo_filters %}

| {% if post.is_link %}
blockquote.post-author-card-container(
  class="loading",
  data-url="{{ post.content }}",
  id="post-author-card-container")

  span #[i.i-twitter] Originally posted by #[a(href="{{ post.content }}", target="_blank") {{ post.content|get_twitter_handle }}]
| {% endif %}
