.profile-list-item
  | {% include 'dillo/components/_profile_avatar.pug' with user=user_obj %}

  a.profile-list-info(href="{% url 'profile-detail' user_obj.username %}")
    .profile-list-title
      span {{ user_obj.profile.name }}
    .profile-list-subtitle(href="{% url 'profile-detail' user_obj.username %}")
      span @{{ user_obj.username }}

  .profile-list-action
    | {% include 'dillo/components/_button_follow.pug' with target_object=user_obj %}
