@import reset

$color_brand_main: #d91b5c
$color_brand_secondary: #109df0
$color_background: #f0f0f0
$color_text: #444

$color_upvote: #ff8b60
$color_downvote: #74a4ff

$font_body: 'Open Sans', Verdana, Arial, Helvetica, sans-serif
$font_headings: 'Lato', 'Lucida Sans', 'Lucida Grande', sans-serif
$font_size: 14px

@import helpers

body
	font-family: $font_body
	font-size: $font_size
	color: $color_text
	background-color: $color_background

h1, h2, h3, h4, h5, h6
	font-family: $font_headings

.separator
	display: inline-block
	height: 15px
	width: 1px
	margin: 0 5px
	background-color: lighten($color_text, 60%)
	vertical-align: middle

/* post-index */
.post-index-item
	display: block
	background-color: white
	margin: 0 0 10px 0
	padding: 0
	//padding: 10px 0
	//border-bottom: thin solid lighten($color_text, 60%)
	+border-radius(3px)
	+box-shadow(2px, 2px, 0, black, 0.1)

.post-index-item-title
	font-family: $font_headings
	display: block
	font-size: 1.6em
	padding: 15px 0 3px 0

.post-index-item-details
	display: block
	font-size: 0.9em
	padding: 3px 0 15px 0
	color: lighten($color_text, 10%)

.post-index-item-rate
	padding: 5px
	color: lighten($color_text, 30%)
	&:hover
		text-decoration: none
	&:hover.up, &.up.rated
		color: $color_upvote
	&:hover.down, &.down.rated
		color: $color_downvote

.post-index-item-type
	display: block
	font-size: 1.8em
	width: 50px
	height: 50px
	margin: 15px 0 0 5px
	color: white
	background-color: lighten(desaturate($color_brand_secondary, 30%), 30%)
	text-align: center
	position: relative
	+border-radius(50%)
	& i
		top: 40%
		@extend .vertical-align

/* //post-index */
/* post-view */
.post-view
	background-color: white
	+border-radius(3px)
	+box-shadow(2px, 2px, 0, black, 0.1)

.post-view-title
	font-family: $font_headings
	font-size: 2.0em
	padding: 15px 15px 10px 15px

.post-view-content
	font-size: 1.1em
	padding: 5px 15px 10px 15px

.post-view-details
	display: block
	padding: 3px 0 15px 15px
	color: lighten($color_text, 10%)

.post-view-rate
	padding: 5px
	color: lighten($color_text, 30%)
	&:hover
		text-decoration: none
	&:hover.up, &.up.rated
		color: $color_upvote
	&:hover.down, &.down.rated
		color: $color_downvote

.post-view-comments
	padding: 0
	margin: 0

.post-view-comments .title
	font-family: $font_headings
	padding: 15px
	margin: 0

.post-view-comments-item
	display: block
	width: 100%
	background-color: white
	padding: 15px 15px 25px 15px
	margin: 0
	border-top: thin solid lighten($color_text, 60%)
	&:nth-child(even)
		background-color: darken(white, 5%)
	&.reply
		padding-left: 80px
		border-top: thin dashed lighten($color_text, 60%)

.post-view-comments-item-content
	padding: 0 0 15px 10px

.post-view-comments-item-details
	display: block
	padding: 0 0 0 10px
	color: lighten($color_text, 10%)

.post-view-comments-item-rate
	padding: 5px
	color: lighten($color_text, 30%)
	&:hover
		text-decoration: none
	&:hover.up, &.up.rated
		color: $color_upvote
	&:hover.down, &.down.rated
		color: $color_downvote

.post-view-comments-submit
	display: block
	width: 100%
	padding: 15px 15px 25px 15px
	margin: 0

.post-view-comments-empty
	font-size: 1.2em
	padding: 0 0 0 15px
	color: lighten($color_text, 40%)


/* //post-view */

/* CKEditor Overrides */

.cke_chrome
	font-family: $font_body !important
	font-weight: lighter
	color: darken($color_text, 10%) !important
	border: thin solid lighten($color_text, 40%) !important
	background-color: lighten($color_background, 3%) !important
	resize: vertical
	margin: 0 !important
	+box-shadow(2px, 2px, 0, darken($color_background, 60%), .1)
	+border-radius(3px)

body.cke_editable.cke_editable_themed.cke_contents_ltr
	font-size: 110% !important
	margin-top: 0 !important
	margin: 0 !important
	font-family: $font_body !important
	font-size: 1.2em

span#cke_1_top
	padding: 5px 5px 0 5px !important
	border: none
	background-image: none
	background-color: transparent !important
	+box-shadow-none

span.cke_toolgroup
	border: none
	border-bottom: 2px solid transparent
	background-image: none
	background-color: white

a.cke_button_off
	border-bottom: 2px solid transparent !important
	+box-shadow-none

a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active,
a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active
	background-image: none !important
	background-color: transparent !important
	color: white !important
	border-bottom: 2px solid $color_brand_main !important

a.cke_button_on, a.cke_button_on:hover, a.cke_button_on:focus, a.cke_button_on:active
	background-image: none !important
	background-color: transparent !important
	border-bottom: 2px solid $color_brand_secondary !important
	color: white !important
	+box-shadow-none