img.error-image(src="{{ url_for('static_dillo', filename='images/error_404.jpg') }}")

.error-info(style="padding: 25px")
	.error-info-title
		h2 404 {{ _('Not Found') }}

	.error-info-content
		p {{ _('Something wrong? Let us know') }}.
		p contact at blender dot community
