
#error-container
	img.error-image(src="{{ url_for('static_dillo', filename='images/error_404.jpg') }}")

	.error-info
		.error-info-title
			| 404 Not Found

		.error-info-content
			| Something wrong? Let us know on Twitter <a href="https://twitter.com/Blender_Cloud">@BlenderToday</a>
