| {% extends "dillo/account_edit_base.pug" %}
| {% load i18n %}
| {% load pipeline %}
| {% load crispy_forms_tags %}

| {% block page_title %}{% trans "Notifications" %}{% endblock page_title %}


| {% block content_account_edit_form %}
.card-header
	h1 {% trans "Manage your notifications" %}

.card-body
	form(action="{% url 'account-email-notifications' %}", method="post")
		| {% csrf_token %}
		.form-group
			| {{ form | crispy }}

		.d-flex.border-top.pt-3.mt-3
			input.btn.btn-primary.px-5(
				type="submit", value="Save Changes")

| {% endblock content_account_edit_form %}

| {% block javascript_extra %}
script.
	let notificationFieldActions = ['like', 'follow', 'comment', 'reply']
	$('#id_is_enabled').on('change', function (event) {
		notificationFieldActions.forEach(value => {
			let $inputField = $('#id_is_enabled_for_' + value);
			if ($(this).prop("checked")) {
				$inputField.removeAttr('disabled');
			} else {
				$inputField.attr('disabled', true);
			}
		});
	});
| {% endblock javascript_extra %}


