| {% extends "dillo/base.pug" %}

//- This template is a simple card, centered in the whole page.
//- Usages: Submission forms, error pages.

| {% block content %}
.app-single-card
  .container
    .row
      .mx-auto(class="{% block columns_width %}col-md-8{% endblock %}")
        | {% block content_card %}
        | {% endblock content_card %}
| {% endblock content %}

| {% block body_classes %} is-centered{% endblock %}
