| {% extends "dillo/base.pug" %}

| {% block content %}
.container(class="base-columns {% block base_classes %}{% endblock base_classes %}")
	| {% block stream_nav %}{% endblock stream_nav %}
	.row
		| {% block stream_wrapper %}
		div(class="stream col-lg-{% block stream_width %}9{% endblock %} {% block stream_classes %}{% endblock stream_classes %}")
			| {% block stream %}
			| {% endblock stream %}
		| {% endblock stream_wrapper %}

		| {% block sidebar_wrapper %}
		div(class="sidebar col-lg-{% block sidebar_width %}3{% endblock %} {% block sidebar_classes %}{% endblock sidebar_classes %}")
			.sidebar-affix
				| {% block sidebar %}
				| {% endblock sidebar %}
		| {% endblock sidebar_wrapper %}
| {% endblock content %}
