| {% extends "dillo/base.pug" %}

//- This template is a simple card, centered in the whole page.
//- Usages: Submission forms, error pages.

| {% block content %}
.container
	.row
		div(class="col-lg-{% block card_width %}8{% endblock %}")
			| {% block content_card %}
			| {% endblock content_card %}
| {% endblock content %}

| {% block body_classes %} is-centered{% endblock %}
