| {% load i18n %}
| {% if comments %}
| {% for comment in comments %}
//- Contains the first comment and all replies.
.comment-container(class="js-comment-container {% if comment.replies %}has-replies{% endif %}")
	//- Main comment.
	| {% include 'dillo/components/_comment_view.pug' with comment=comment %}

	//- Comment replies.
	| {% for reply in comment.replies %}
	| {% include 'dillo/components/_comment_view.pug' with comment=reply %}
	| {% endfor %}
| {% endfor %}
| {% endif %}

//- Pagination.
| {% if page_obj.has_next %}
.btn.btn-link-text.btn-block.my-3(
	class="js-load-more-comments",
	data-next_url="{% url 'comments_list' hash_id=hash_id %}?page={{ page_obj.next_page_number }}")
	| {% trans 'Load more comments...' %}
| {% endif %}

//- Initialize tooltips.
script.
	$(function () {initTooltips();});
