| {% extends "dillo/base.pug" %}

| {% block body %}
.container
  h1 Headings

  h1 Heading H1
  h2 Heading H2
  h3 Heading H3
  h4 Heading H4
  h5 Heading H5
  h6 Heading H6

  hr

  h1 Buttons

  .row
    .col-md-8
      h2 Regular
      .btn
        span Button
      .btn.btn-link
        span Link
      .btn.btn-primary
        span Primary
      .btn.btn-secondary
        span Secondary
      .btn.btn-danger
        span Danger
      .btn.btn-success
        span Success
      .btn.btn-warning
        span Warning

      hr

      h2 Buttons Row
      .btn-toolbar-row
        a(href="#").btn
          span Button
        a(href="#").btn.btn-link
          span Link
        a(href="#").btn.btn-primary
          span Primary
        a(href="#").btn.btn-secondary
          span Secondary
        a(href="#").btn.btn-danger
          span Danger
        a(href="#").btn.btn-success
          span Success
        a(href="#").btn.btn-warning
          span Warning

        .btn-group
          .btn
            span A
          .btn
            span B
          .btn
            span C

      hr

      h2 Buttons Column
      .row
        .col-4
          .btn-toolbar-col
            a(href="#").btn
              span Button
            a(href="#").btn.btn-link
              span Link
            a(href="#").btn.btn-primary
              span Primary
            a(href="#").btn.btn-secondary
              span Secondary
        .col-4
          .btn-toolbar-col
            a(href="#").btn.btn-danger
              span Danger
            a(href="#").btn.btn-success
              span Success
            a(href="#").btn.btn-warning
              span Warning

    .col-md-4
      h2 Small
      a(href="#").btn.btn-sm
        span Button
      a(href="#").btn.btn-sm.btn-primary
        span Primary

      hr

      h2 Buttons Group
      .btn-group
        a(href="#").btn
          span Button
        a(href="#").btn.btn-link
          span Link
        a(href="#").btn.btn-primary
          span Primary
        a(href="#").btn.btn-secondary
          span Secondary
        a(href="#").btn.btn-danger
          span Danger
        a(href="#").btn.btn-success
          span Success
        a(href="#").btn.btn-warning
          span Warning

| {% endblock body %}
