| {% extends "dillo/form_generic_embed_base.pug" %}
| {% load i18n %}
| {% load crispy_forms_tags %}


| {% block javascript %}
script.
	$("#generic_form").on("submit", function (event) {
		event.preventDefault();

		let $report_content_form = $(this).parent('.modal-body');
		let url = $(this).attr('action');

		$.post(url, $(this).serialize(), function (data) {
			$report_content_form.html("Submitting...");
		}).done(function (data) {
			$report_content_form.html(data);
		}).fail(function (jqxhr) {
			console.log(xhrErrorResponseMessage(jqxhr));
		});
	});
| {% endblock javascript %}
