| {% extends 'dillo/layout.pug' %}
| {% block bodyattrs %}{{ super() }} data-context='dashboard'{% endblock %}
| {% block page_title %}Dashboard{% endblock %}
| {% block body %}
h1 Dillo
| {% endblock %}
