| {% extends 'dillo/layout.pug' %}
| {% block bodyattrs %}{{ super() }} data-context='dashboard'{% endblock %}
| {% block page_title %}Dashboard{% endblock %}
| {% block body %}

#col_main.listing-list
	ul
		li.js-list-item.active
			a.item-thumbnail(href="")
				img(src="https://placekitten.com/110")
			.item-content
				.item-rating-box
					.item-rating.up
						i.pi-angle-up
					.item-rating.down
						i.pi-angle-down
				.item-details
					a.item-title(href="") NEW: Blender Motion Graphics Training
					ul
						li
							img(title="Link" src="http://www.google.com/s2/favicons?domain=https://www.youtube.com")
						li
							a(href="") 2 days ago
						li koro
						li 81 points
						li
							a(href="") 2 comments
						li youtube.com

		li.js-list-item
			a.item-thumbnail(href="")
				img(src="https://placekitten.com/120")
			.item-content
				.item-rating-box
					.item-rating.up
						i.pi-angle-up
					.item-rating.down
						i.pi-angle-down
				.item-details
					a.item-title(href="") Blender 2.8 - ¿Qué y por qué?
					ul
						li
							img(title="Link" src="http://www.google.com/s2/favicons?domain=http://vimeo.com/")
						li
							a(href="") 8h ago
						li koro
						li 81 points
						li
							a(href="") 3 comments
						li github.com

		li.js-list-item
			a.item-thumbnail(href="")
				img(src="https://placekitten.com/90")
			.item-content
				.item-rating-box
					.item-rating.up
						i.pi-angle-up
					.item-rating.down
						i.pi-angle-down
				.item-details
					a.item-title(href="") An add-on for re-arranging render layers in the render layers list
					ul
						li
							img(title="Link" src="http://www.google.com/s2/favicons?domain=https://www.blendernetwork.org")
						li
							a(href="") 8h ago
						li koro
						li 81 points
						li
							a(href="") comment
						li github.com


#col_right.listing-view
	.item-media
		i.pi-play

	.item-content
		.item-rating-box
			.item-rating.up
				i.pi-angle-up
			.item-rating.down
				i.pi-angle-down
		.item-details
			a.item-title(href="") NEW: Blender Motion Graphics Training
			ul
				li
					a(href="") 2 days ago
				li koro
				li 81 points
				li
					a(href="") 2 comments
				li youtube.com

	#item-content.
		Hello everyone
		Been long I posted some artwork here.
		<br/>
		Decided to sculpt Logan, here is the final version.
		<br/>
		Sculpted in Zbrush
		Hair and Fur done using Blender
		Rendered with the very awesome Cycles Render Engine
		<br/>
		Thanks a lot to everyone who has been supportive to me and making this happen.
		Visit www.pixel-architect.com for more of my artworks.

	#item-comments

| {% endblock %}
