doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title
			| {% if self.page_title() %}{% block page_title %}{% endblock %} — {% endif %}Dillo
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		| {% block head %}{% endblock %}
		link(href='//fonts.googleapis.com/css?family=Oxygen|Open+Sans', rel='stylesheet', type='text/css')
		link(href="{{ url_for('static_pillar', filename='assets/css/font-pillar.css', v=171120161) }}", rel='stylesheet')
		link(href="{{ url_for('static_dillo', filename='css/main.css', v=171120161) }}", rel='stylesheet')

		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery-3.1.0.min.js', v=171120161)}}")
		script(src="{{ url_for('static_pillar', filename='assets/js/tutti.min.js', v=171120161) }}")
		script(src="{{ url_for('static_dillo', filename='js/generated/tutti.min.js', v=171120161) }}", async)

		| {% block style %}{% endblock %}

	body
		#app-header
			#header-bar-pri
				a.app-branding(href="/") Dillo
				.wgt-search
					input(
						id="q",
						type="text",
						placeholder="Search Dillo...")

				#header-bar-pri-user
					button.btn.submit Submit Post
					button.btn.sign-in SIGN IN

			#header-bar-sec
		#app-main
			| {% block body %}{% endblock %}

		#app-overlay

		| {% block footer_scripts %}{% endblock %}
