| {% load i18n %}
| {% load dillo_filters %}

| {% if posts %}
| {% for post in posts %}
| {% include 'dillo/components/_post_list_element.pug' with post=post %}
| {% endfor %}

| {% if page_obj.has_next %}
li.posts-load-more
  | {% include 'dillo/components/_button_load_more.pug' with js_class='js-load-more' page_obj=page_obj %}

  script.
    $(function () {
      initTooltips();
    });
| {% endif %}

| {% else %}
| {% include 'dillo/components/_post_list_empty.pug' %}
| {% endif %}
