| {% extends "dillo/posts_base.pug" %}
| {% load i18n %}
| {% load dillo_filters %}
| {% load micawber_tags %}
| {% load thumbnail %}

| {% block page_title %}
| {% include 'dillo/components/_profile_page_title.pug' with user=user %}
| {% endblock page_title %}

| {% block page_header %}
style.
  .stream, .sidebar {
    --accent-profile-h: {{ user.id }};
    --accent-profile: hsl(var(--accent-profile-h), 100%, 70%);
    --accent-profile-light: hsl(var(--accent-profile-h), 100%, 80%);
  }

| {% include 'dillo/components/_profile_header.pug' with show_bio=True is_link_disabled='is-link-disabled' %}

| {% if user.profile.next_events_attending %}
.profile-events
  | {% include 'dillo/components/_feed_events.pug' with events=user.profile.next_events_attending events_title='Going To' %}
| {% endif %}

| {{ block.super }}
| {% endblock page_header %}

| {% block body_classes %}profile-details{% endblock %}

| {% block sidebar_classes %}{% endblock sidebar_classes %}
