| {% extends "dillo/base_single_card.pug" %}
| {% load i18n crispy_forms_tags %}

| {% block head_title %}{% trans "Setup" %}{% endblock %}

| {% block content_card %}
.card.account.setup
	| {% if title %}
	.card-header
		h1.card-title {{ title }}
	| {% endif %}

	.card-body
		| {% if message %}
		p.card-message {{ message }}
		| {% endif %}

		form(
			method="post"
			enctype="multipart/form-data",
			id="generic_form")
			| {% csrf_token %}

			.form-group
				| {{ form | crispy }}
				| {% block profile_setup_form_extra %} {% endblock %}

			.card-cta
				button.btn.btn-primary(type="submit")
					span {% trans 'Next' %}

| {% endblock %}
