| {% extends "dillo/account_edit_base.pug" %}
| {% load i18n %}
| {% load pipeline %}
| {% load crispy_forms_tags %}
| {% load account %}

| {% block page_title %}{% trans "Edit Profile" %} – {% endblock page_title %}


| {% block content_account_edit_form %}
form.profile-edit(action="{% url 'profile_edit' %}", method="post", enctype="multipart/form-data")
	.card
		.card-body
			| {% csrf_token %}
			.form-group
				| {{ form | crispy }}
				| {% include 'dillo/components/_formset_link_list.pug' %}

			.card-cta
				button.btn.btn-primary(type="submit")
					span {% trans 'Save Changes' %}

| {% endblock content_account_edit_form %}

| {% block javascript_extra %}
| {% javascript 'vendor_jquery_formset' %}
script.
	$('.js-formset-row').formset({
		addText: 'Add Social Account',
		addCssClass: 'btn-link-add',
		deleteText: '',
		deleteCssClass: 'js-link-delete btn-link-delete',
		formCssClass: 'profile-edit-links-row',
		prefix: 'links'
	});
| {% endblock javascript_extra %}
