| {% extends "dillo/account_edit_base.pug" %}
| {% load i18n %}
| {% load pipeline %}
| {% load crispy_forms_tags %}
| {% load account %}

| {% block page_title %}{% trans "Edit Profile" %} – {% endblock page_title %}

| {% block content_account_edit_form %}
form.profile-edit(action="{% url 'profile_edit' %}", method="post", enctype="multipart/form-data")
	.card
		.card-body
			p To change your username go to #[a(href="{% url 'account_settings' %}") account settings].
			hr
			br
			| {% csrf_token %}
			| {{ form | crispy }}
			| {% include 'dillo/components/_formset_link_list.pug' %}

			.card-cta
				button.btn.btn-primary(type="submit")
					span {% trans 'Save Changes' %}

| {% endblock content_account_edit_form %}

| {% block javascript_extra %}
| {{ block.super }}
| {% javascript 'vendor_jquery_formset' %}
| {% javascript 'choices' %}
script.
	$('.js-formset-row').formset({
		addText: 'Add Social Account',
		addCssClass: 'btn-link-add',
		deleteText: '',
		deleteCssClass: 'js-link-delete btn-link-delete',
		formCssClass: 'profile-edit-links-row',
		prefix: 'links'
	});

	let choiceCityElement = document.getElementById('id_city');
	let choiceCity = new Choices(choiceCityElement, {maxItemCount: 1});
	choiceCountryElement = document.getElementById('id_country');
	new Choices(choiceCountryElement);
	choiceCountryElement.addEventListener(
		'change',
		(event) => {
			let countryCode = event.detail.value;
			fetch(`/api/cities-in-country/${countryCode}`)
				.then(response => response.json())
				.then(data => {
					console.log(data.cities);
					choiceCity.setChoices(data.cities, 'value', 'label', true);
					choiceCity.removeActiveItems();
				});
		},
		false,
	);

| {% endblock javascript_extra %}
