| {% extends "dillo/base_single_card.pug" %}
| {% load i18n crispy_forms_tags %}
| {% load pipeline %}

| {% block page_title %}Setup Your Profile{% endblock %}

| {% block head_extra %}
| {% stylesheet 'edit' %}
| {% endblock head_extra %}

| {% block content_card %}
.card.account.setup
	| {% if title %}
	.card-header
		h1.card-title {{ title }}
	| {% endif %}

	.card-body
		| {% if message %}
		p.card-message {{ message }}
		| {% endif %}

		form(
			method="post"
			enctype="multipart/form-data",
			id="generic_form")
			| {% csrf_token %}

			.form-group
				| {{ form | crispy }}
				| {% block profile_setup_form_extra %} {% endblock %}

			.card-cta
				button.btn-theme-primary.btn-next(type="submit")
					span
						span {% trans 'Next' %}
						i.i-chevron-right

| {% endblock %}

| {% block javascript_extra %}
script.
	//- Show a preview of the avatar when a file is picked.
	function previewImage(input) {
		if (input.files && input.files[0]) {
			let reader = new FileReader();
			let avatarPreview = document.getElementById('js-avatar-preview');

			reader.onload = function(e) {
				avatarPreview.setAttribute('src', e.target.result);
			}

			reader.readAsDataURL(input.files[0]);
		}
	}

	let fileInput = document.getElementById('id_avatar');

	if (fileInput){
		fileInput.onchange = function(){
			previewImage(this);
		};
	}

| {% endblock javascript_extra %}
