doctype
html(lang="en", prefix="og: http://ogp.me/ns#")
	head
		meta(name="google-site-verification",
				 content="{{config.GOOGLE_SITE_VERIFICATION}}")
		meta(http-equiv="X-UA-Compatible",
				 content="IE=edge")
		meta(name="viewport",
				 content="width=device-width, initial-scale=1")

		title {% block page_title %}{% endblock %}{{ config.SETTINGS_TITLE | safe }} - {{ config.SETTINGS_TAGLINE }}

		meta(name="keywords", content="{{ config.SETTINGS_KEYWORDS }}")
		meta(name="description", content="{{ config.SETTINGS_TAGLINE }}")
		meta(name="author", content="{{ config.SETTINGS_TITLE | safe }}")
		meta(name="csrf-token", content="{{ csrf_token() }}")

		// Open Graph
		meta(property="og:site_name", content="{{ config.SETTINGS_TITLE | safe }}")
		meta(property="og:description", content="{{ config.SETTINGS_TAGLINE }}")
		| {% block og %}{% endblock %}

		| {% include '_layout_head.html' %}

		link(href="{{ config.SETTINGS_FAVICON }}", rel="icon", type="image/png")

		| {% block header %}{% endblock %}

	body

		| {% block modal %}{% endblock %}

		a(name="hop")


		// Flash messages
		| {% for message in get_flashed_messages() %}
		.alert.alert-warning
			.container

				| {{ message }}

				button.close(type="button", data-dismiss="alert")
					i.di-cancel

		| {% endfor %}


		// Actual page content
		.page-container
			.container
				.row
					.col-md-12

						| {% block body %}{% endblock %}


		// Footer
		.container.page-footer
			| {{config.SETTINGS_FOOTER|safe}}

		footer
			.container
				| {{config.SETTINGS_CREDITS|safe}}

		// Submit Dialog
		div#submit.dialog
			.dialog__overlay
			.dialog__content
				//- | {% include 'posts/form.html' %}
				#submit-form
				button.action.dialog__button-close(data-dialog-close)
					i.di-cancel

		| {% include '_layout_scripts.html' %}

		| {% block footer_scripts %}{% endblock %}

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '{{config.GOOGLE_ANALYTICS_TRACKING_ID}}', 'auto');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');
