%reply-timeline
  &:before
    background-color: var(--background-tertiary)
    bottom: 0
    content: ''
    display: block
    left: $spacer * .7
    position: absolute
    top: 0
    width: calc(var(--border-width) * 2)


// Contains the first comment and all replies.
.comments-container
  +list-unstyled
  display: flex
  flex-direction: column
  position: relative

  &.has-replies
    .comment-item-container
      position: relative

      &:first-child
        .comment-item
          &:before
            top: $spacer * -.333

      &:last-child

        .comment-item
          &:before
            bottom: calc(100% - 1rem)

      .comment-item:not(.comment-form-container)
        @extend %reply-timeline

        +media-tablet
          +margin(5, left)

        // Seems %placeholders don't support CSS
        // variables, so add them here manually.
        &:before
          background-color: var(--background-tertiary)
          width: calc(var(--border-width) * 2)


// Each comment item (regular comment or reply)
.comment-item
  +padding(2, top)
  display: flex
  position: relative

  &:hover
    +media-tablet
      .btn-toolbar-row
        opacity: 1

  .comment-item
    .btn-comment-cancel
      display: flex

    // Textarea inside a reply.
    .form-control
      padding-right: 11rem

  &.has-replies
    @extend %reply-timeline

    &:before
      top: var(--avatar-size)

      +media-tablet
        display: none

  &.isAuthor
    > .comment-body
      .comment-author
        color: hsl(var(--color-info-h), var(--color-info-s), 64%)

  &.isOwn
    > .comment-body
      border-bottom-left-radius: var(--border-radius)
      box-shadow: inset var(--border-width) 0 0 var(--color-warning)

      .comment-author
        color: var(--color-warning)

  &.isActive
    > .comment-body
      box-shadow: inset 0 0 0 var(--border-width) var(--accent)

  &.isEditing
    > .comment-body
      box-shadow: inset 0 0 0 var(--border-width) var(--color-success)
      border-bottom-left-radius: var(--border-radius)

      .comment-header
        +make-disabled

    .comment-form textarea
      +padding(2, left)
      padding-right: 13rem

.comment-avatar
  +margin(2, right)
  +margin(2, top)
  position: relative // To appear in front of the %reply-timeline.


// Contains the comment header (author, date), content, and actions (like, reply).
.comment-body
  +padding(2)
  background-color: var(--background-tertiary)
  border-radius: var(--border-radius-lg)
  border-top-left-radius: var(--border-radius)
  display: flex
  flex: 1
  flex-direction: column
  transition: box-shadow ease-in-out var(--transition-speed)

  +media-tablet
    +padding(3, x)

  textarea
    background-color: var(--background-tertiary)

// Header contains the author and date.
.comment-header
  +padding(2, left)
  align-items: center
  display: flex
  font-size: var(--font-size-xs)

  .btn-toolbar-row
    +media-tablet
      opacity: 0 // revealed on .comment-item:hover
      transition: opacity ease-in-out var(--transition-speed)

    .btn
      background-color: transparent


.comment-badges
  +margin(1, left)


.comment-author
  @extend %btn-text
  color: var(--text-secondary)
  font-weight: var(--font-weight-bold)

  .comment-username
    +padding(1, right)


.comment-date
  @extend %btn-text
  +padding(2, left)
  color: var(--text-tertiary)
  font-weight: initial


// The text of the comment.
.comment-content
  +content-generic
  +padding(2, left)
  +padding(1, y)
  font-size: var(--comment-content-font-size)
  line-height: 21px

  p
    line-height: var(--comment-line-height)

  ul, ol
    margin-bottom: var(--spacer)

    li
      +margin(1, bottom)

  img
    +margin(3, y)

  blockquote
    box-shadow: inset 5px 0 0 0 var(--background-primary)

  a
    color: var(--community-theme-color, --accent)

    &:hover
      color: var(--text-highlight)
      text-decoration: underline

      &:before
        color: var(--text-highlight)

  a.is-external
    &:hover
      &:before
        color: var(--text-highlight)
    &:before
      color: var(--community-theme-color, --accent)

    &[href*="discord"]
      padding-left: 22px

.comment-actions
  .btn-toolbar-row
    +margin(2, top)

    ul
      margin-left: auto

  .dropdown-menu
    // Don't know why BS doesn't detect the right/bottom.
    bottom: 2.5rem
    min-width: 15rem
    top: initial

  .btn-toolbar-row
    @extend %btn-sm

    [class^="btn"]
      min-height: 32px

  .btn-like,
  .btn-reply
    @extend %btn
    @extend %btn-link
    background-color: transparent

  .btn-reply
    margin-left: auto !important

  .btn-like span span
    font-size: var(--font-size-sm)

.comment-form-container
  padding-top: 0

  .comment-avatar
    +margin(2, top)

  .profile-avatar
    background-color: var(--background-primary)

  .comment-body
    background-color: initial
    padding-left: 0
    padding-right: 0


.comment-form
  position: relative

  .btn-toolbar-row
    position: absolute
    top: .5rem
    right: .5rem
    justify-content: flex-end

  textarea
    background-color: var(--background-page)
    border-top-left-radius: var(--border-radius)
    font-size: var(--comment-content-font-size)
    min-height: 3.5rem
    min-width: 100%
    padding-right: 8rem // make room for the 'Comment' button.
    resize: vertical

    &:focus
      border-color: var(--text-secondary)

    // If there is text in the field, highlight the Comment button.
    &:not(:placeholder-shown)
      &+.btn-toolbar-row
        .btn-comment
          @extend %btn-theme

  .btn-comment
    @extend %btn-secondary

  .btn-comment-cancel
    @extend %btn-link
    display: none // only show when inside


.comment-preview
  +margin(3, top)
  position: relative

  &:empty
    display: none

  // Loading indicator.
  &::after
    color: var(--text-secondary)
    content: '\e86b' // spinner icon
    font-family: var(--font-family-icon)
    left: -1.75rem
    opacity: 0
    position: absolute
    top: .25rem
    transition: opacity var(--transition-speed) ease-in-out

  &.is-loading
    &::after
      animation: spinner linear infinite 3s
      opacity: 1

// Shows the "Login to comment" button.
.comment-form-login
  +margin(2, y)


.is-replying
  @extend %reply-timeline

  // Seems %placeholders don't support CSS
  // variables, so add them here manually.
  &:before
    background-color: var(--background-tertiary)
    bottom: calc(100% - 1rem) !important
    width: calc(var(--border-width) * 2)

  .js-reply-cancel
    visibility: visible

.js-reply-cancel
  visibility: hidden


.comments-loading
  +padding(4, y)
  align-items: center
  color: var(--text-secondary)
  cursor: default
  display: flex
  justify-content: center

  span
    +margin(3, left)
    font-size: var(--font-size-xxs)


.comments-list
  +padding(0)
  +margin(0)
  list-style-type: none


.comments-list-container
  +padding(3)
  margin-top: -1rem
  padding-top: 2rem
  position: relative

  +media-tablet
    +margin(3, bottom)
    +margin(4, x)
    +padding(4)

  // Background 'card' for the comments container.
  &:before
    background-color: var(--background-secondary)
    bottom: 0
    content: ''
    left: 0
    position: absolute
    right: 0
    top: 0
    z-index: -1

    +media-tablet
      border-bottom-left-radius: var(--border-radius-lg)
      border-bottom-right-radius: var(--border-radius-lg)

  .comments-container+.comments-container
    +margin(3, top)

.comments-list-header
  +padding(3, top)
  +padding(2, bottom)
  font-size: var(--font-size-sm)
  color: var(--text-secondary)

.comments-more
  +margin(3, top)
  display: flex
  width: 100%
