doctype
html(lang="en", prefix="og: http://ogp.me/ns#")
	head
		meta(name="google-site-verification",
				 content="{{config.GOOGLE_SITE_VERIFICATION}}")
		meta(http-equiv="X-UA-Compatible",
				 content="IE=edge")
		meta(name="viewport",
				 content="width=device-width, initial-scale=1")

		title {% block page_title %}{% endblock %}Blender.Today - Community-driven Blender News

		meta(name="keywords", content="news, community, blender, animation, 3d")
		meta(name="description", content="Community-driven Blender News")
		meta(name="author", content="Blender Today")
		meta(name="theme-color", content="#4D84A0")
		meta(name="csrf-token", content="{{ csrf_token() }}")

		// Open Graph
		meta(property="og:site_name", content="Blender.Today")
		meta(property="og:description", content="Community-driven Blender News")
		| {% block og %}{% endblock %}

		// Styles
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css",rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="{{ url_for('static', filename='css/main.css') }}", rel="stylesheet")

		// Fonts
		link(href='//fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,latin-ext', rel='stylesheet', type='text/css')
		link(href='//fonts.googleapis.com/css?family=Oxygen:400,300&subset=latin,latin-ext', rel='stylesheet', type='text/css')

		link(href="{{ url_for('static', filename='images/favicon_192x192.png') }}", rel="icon", type="image/png")

		| {% block header %}{% endblock %}

	body

		| {% block modal %}{% endblock %}

		a(name="hop")


		// Flash messages
		| {% for message in get_flashed_messages() %}
		.alert.alert-warning
			.container

				| {{ message }}

				button.close(type="button", data-dismiss="alert")
					i.fa.fa-times

		| {% endfor %}


		// Actual page content
		.page-container
			.container
				.row
					.col-md-12

						| {% block body %}{% endblock %}


		// Footer
		.container
			.row.page-footer
				.col-md-6

					h3 About

					p.
						In a nutshell, Blender.Today is community-driven
						<a href="http://www.blender.org">Blender</a> news.

					p.
						If you don't know what <a href="http://www.blender.org">Blender</a> is,
						then you should probably go, or not! Stay and hangout, we have cookies.
						Just keep in mind this site is run by the community. You're free to share
						what's up, upvote the awesomeness or even downvote if it's not your thing.

				.col-md-6

					h3 Contact

					p.
						We're on Twitter <a href="http://twitter.com/BlenderToday">@BlenderToday</a>,
						or <a href="http://facebook.com/BlenderToday">Facebook</a> too, if you're into that.

					hr

					h3 Moar Blender Stuff

					ul
						li
							a(href="https://cloud.blender.org") Blender Cloud
							| - All the open content and training you ever wanted
						li
							a(href="https://www.blendernetwork.org") Blender Network
							| - Online directory of Blender Professionals and Certified Trainers

						li
							a(href="https://www.blender.org/e-shop") Blender E-shop
							| - Education & swag deals that keep Blender Foundation afloat

		footer
			.container
				a(href="{{url_for('about')}}") About
				| ·
				a(href="{{url_for('faq')}}") FAQ
				| ·
				a(href="{{url_for('terms')}}") Terms
				| · Made with <i class="fa fa-heart-o"></i> in Amsterdam
				| · Blender Today 2015
				| · Cutest mug by <a href="http://www.manujarvinen.com/" target="_blank">Manu</a>,
				| 404 by <a href="http://www.artificial3d.com/" target="_blank">Andy</a>

		// Submit Dialog
		div#submit.dialog
			.dialog__overlay
			.dialog__content
				| {% include 'posts/form.html' %}
				button.action.dialog__button-close(data-dialog-close)
					i.fa.fa-times


		// Javascript
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", type="text/javascript")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js", type="text/javascript")
		script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js", type="text/javascript")
		script(src="//cdn.embed.ly/jquery.embedly-3.1.1.min.js", type="text/javascript")
		script(src="//cdn.ckeditor.com/4.4.7/basic/ckeditor.js", type="text/javascript")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.3/js/min/perfect-scrollbar.jquery.min.js", type="text/javascript")
		script(src="{{url_for('static', filename='js/tutti.min.js')}}", type="text/javascript")

		script.

			$('#popover-home').popover();
			$('#cd-dropdown').dropdown( {gutter : 5 } );

			$(document).ready(function () {
				$('.nav-logout-widget').click(function(e){
					e.preventDefault();

					$('.nav-logout-widget-question').animate({'opacity': 1.0, 'left' : 22}, 300);
					$('.nav-logout-widget-icon').css('color', 'crimson');
					$('.nav-logout-widget-icon').animate({'left' : 5}, 250, function(){
						$('.nav-logout-widget').unbind();
						$('.nav-logout-widget').attr('href', '{{url_for("logout")}}');
					});
				});

				{% if current_user.is_anonymous() %}
					$('.popover-submit').popover();
				{% else %}
					$('#popover-settings').popover();
					$('#popover-logout').popover();
				{% endif %}

			{% if current_user.is_authenticated() %}

				$.embedly.defaults.key = 'e41ded41bd6e47aabb1bfcb8a17dccb7';
				page_title = document.title;

				$('#url').keyup(function(){
					var url = $('#url').val();

					// We're trying to load the link stuff
					$('.post-submit-field-loading').html('<i class="fa fa-spin fa fa-spinner"></i>');

					$.embedly.extract(url).progress(function(data){

						$('.post-submit-field-loading').removeClass('error');

						if (data.url == ''){
							$('.post-submit-field-loading').html('');
						};

						// Clear the loading
						if (data.error){
							$('.post-submit-field-loading').html('');
							$('.post-submit-field-loading').removeClass('success');
							$('.post-submit-field-loading').addClass('error');
							$('.post-submit-field-submit').addClass('disabled');
						} else {
							$('.post-submit-field-loading').html('<i class="fa fa-check"></i>');
							$('.post-submit-field-loading').addClass('success');
							$('.post-submit-field-submit').removeClass('disabled');
						};

						if (data.error_code){
							$('.post-submit-field-loading').html(data.error_code);
							$('.post-submit-field-loading').addClass('error');
							$('.post-submit-field-submit').addClass('disabled');
						} else {
							$('.post-submit-field-loading').removeClass('error');
						};

						if (data.favicon_url){
							$('.post-submit-field-favicon').html('<img src="' + data.favicon_url + '"/>')
						} else {
							$('.post-submit-field-favicon').html('<i class="fa fa-globe"></i>')
						};

						$('.post-submit-div-title').show();
						$('.post-submit-div-category').show();
						$('.post-submit-div-picture').show();

						if (data.title) {
							$('#title').val(data.title);
						};

						// if (data.images[0]) {
						if (data.images) {

							$('.picture-remote-container').html('<img src="'+data.images[0].url+'"/>');
							$('.post-submit-div-picture-remote').css('display', 'block');
							$('#picture_remote').val(data.images[0].url);
							$('.post-submit-div-picture').hide();

						};

					$('.post-submit-div-submit').show();

					}); // embedly
				});

				$('post-submit-div-submit').css('display', 'block');

				$('#dismiss-picture-remote').click(function(){
					$('#picture_remote').val('');
					$('.post-submit-div-picture-remote').css('display', 'none');
					$('.post-submit-div-picture').show();
				});
			{% endif %}
			});

		| {% block footer_scripts %}{% endblock %}

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '{{config.GOOGLE_ANALYTICS_TRACKING_ID}}', 'auto');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');
