| {% extends "dillo/base_columns.pug" %}
| {% load i18n %}
| {% load micawber_tags %}
| {% load thumbnail %}

| {% block stream %}
.theater
	.nav-tabbar
		| {% block theater-nav %}
		.nav-tabbar-items
			a.btn.btn-border(
				href="{% url 'reel-list' %}",
				class="{% if '/reels/' in request.path_info %}is-active{% endif %}")
				| {% trans 'Reels' %}

			a.btn.btn-border(
				href="{% url 'short-list' %}",
				class="{% if '/shorts/' in request.path_info %}is-active{% endif %}")
				| {% trans 'Short Films' %}
		| {% endblock theater-nav %}

	| {% block theater-content %}
	| {% endblock theater-content %}
| {% endblock stream %}
