| {% load micawber_tags %}

| {% if not object_list %}
p No item in the timeline. This is just the beginning.
| {% endif %}

| {% for activity in object_list %}

| {% if activity.action_object_content_type.name == 'post' %}
| {% include 'dillo/components/_post_list_element.pug' with post=activity.action_object %}

| {% elif activity.action_object_content_type.name == 'short' %}
li.post-container {{ activity.action_object.url | oembed }}
  | {% if activity.extra.near_actions_count %}
  | and #[a(href="{% url 'short-list' %}") {{ activity.extra.near_actions_count }} more...]
  | {% endif %}

| {% elif activity.action_object_content_type.name == 'profile' %}
li.post-container {{ activity.action_object.reel | oembed }}
  | {{ activity.actor.profile.name }} {{ activity.verb }} {{ activity.actor.profile.get_absolute_url }}
| {% else %}

li Unsupported item: {{ activity.action_object_content_type.name }}
| {% endif %}
| {% endfor %}

| {% if page_obj.has_next %}
li.posts-load-more
  | {% include 'dillo/components/_button_load_more.pug' with js_class='js-load-more' page_obj=page_obj %}
| {% endif %}

script.
  $(function () {
    initTooltips();
  });
